<% content_for :title, "Contact Us" %>
<div id="content-wrapper">
<%= render "shared/left_info" %>
  <div id="right-column-wrapper">
    <div id="content">
      <h1>Contact College STAR Team</h1>
    </div>
  </div>
</div>
