<% content_for :title, "Faculty" %>
<div id="content-wrapper">
<%= render "shared/side_bar" %>
  <div id="right-column-wrapper">
    <div id="content">
      <h1>College STAR for Faculty</h1>

      <h2>Professional Development Modules</h2>
      <p>
      College STAR professional development modules are organized around the three principles of Universal Design for Learning. Many of these modules originate from a direct attention to hearing student voices on the college campus. Students identify and describe examples of effective teaching practices, strategies, resources and routines used by faculty members across campus. These nominated instructional practices become the topics for some of these modules. Each module contains an alignment of the instructional practice with principles of Universal Design for Learning, a description of how the practice has been implemented by university instructor(s), a brief summary of professional literature that supports the instructional practice, and additional resources for viewers.
      </p>
      <h3>College STAR Modules</h3>
      <ul>
        <% @udl_modules.each do |udl_module| %>
          <li><%= link_to( udl_module.title, udl_module ) %></li>
        <% end %>
      </ul>

      <h3>Recommended Modules &amp; Resources</h3>

        <ul>
          <li><a href="http://udloncampus.cast.org" target="_blank">Udl on Campus - Universal Design for Learning in Higher Education</a> - CAST</li>
          <li><a href="http://udlonline.cast.org/page/module1/l3/" target="_blank">Introduction to UDL</a> – CAST</li>
          <li><a href="http://udlonline.cast.org/page/module2/l3" target="_blank">Applying the UDL Framework to Lesson Development</a> – CAST</li>
          <li><a href="http://ctfd.sfsu.edu/universal-design-for-learning-online-training-module" target="_blank">Universal Design for Learning Online Training Module</a> – San Francisco State Univeristy</li>
          <li><a href="http://www.flconsortiumudl.net/content/section1/01.aspx" target="_blank">Postsecondary Education and Universal Design for Learning</a> - Florida Consortium on Postsecondary Education</li>
          <li><a href="http://elixr.merlot.org/case-stories/understanding--meeting-students-needs/universal-design-for-learning-udl?noCache=683:1376340393" target="_blank">Universal Design for Learning Case Stories</a> - Merlot Elixir</li>
          <li><a href="http://www.udluniverse.com" target="_blank">UDL Online Video Case Stories  (under UDL Course Changes)</a> - EnACT  Ensuring Access through Collaboration and Technology: Partnerships, Technology and Dissemination, California State University
          <p class="revision">(Select Video Case Studies from UDL Course Changes Dropdown)</p>
          </li>
          <li><a href="http://www.udi.uconn.edu/index.php?q=content/legal-module&quicktabs_5=0#quicktabs-5" target="_blank">Legal Module on Postsecondary Law</a>  – University of Connecticut</li>
          <li><a href="http://udi.uconn.edu/index.php?q=content/e-toolbox" target="_blank">E-Toolbox</a> - University of Connecticut</li>
          <li><a href="http://mast.ecu.edu/modules/tpc_ec" target="_blank">Transition Planning Consideration: E-mail Communication</a> - (MAST Modules) East Carolina University</li>
          <li><a href="http://serc.carleton.edu/econ/index.html" target="_blank">Starting Point: Teaching and Learning Economics</a> - Science Education Resource Center at Carleton College</li>
          <li><a href="http://serc.carleton.edu/introgeo/index.html" target="_blank">Starting Point: Teach Entry Level Geosciences</a> - Science Education Resource Center at Carleton College</li>
          <li><a href="http://www.cmu.edu/teaching/assessment/index.html" target="_blank">Assess Teaching and Learning</a> - Carnegie Melon University</li>
          <li><a href="http://accessproject.colostate.edu/udl/index.php " target="_blank">UDL Technical Modules</a> – The ACCESS Project Colorado State University
           <p class="revision">(These modules are focused on accessibility with Microsoft programs and multimedia.)</p></li>
        </ul>

      <h2>Faculty Learning Communities</h2>
      <p>
      The goal of College STAR’s Component B is for each campus to develop an integrated system of campus-wide student and/or faculty supports that are focused on teaching students with learning differences, reinforce direct services provided to students, and that focus on principles of Universal Design for Learning (UDL). Faculty learning communities are one way the College STAR campuses are striving to meet that goal.
      </p>
      <h3>Pirate CREWS</h3>
      <p>
      In collaboration with the Office of Faculty Excellence (OFE), College STAR provides faculty with a forum to conduct shared research linked to the principles of Universal Design for Learning (UDL) and current understandings about students with learning differences, and mentor/be mentored in the development or use of outstanding instructional practices. Faculty members who are interested in exploring instructional practices as they relate to student outcomes are encouraged to join a Pirate CREWS Faculty Learning Community. Pirate CREWS are faculty research partnerships committed to enhancing methods for teaching and learning at ECU. College STAR is the vehicle for fostering these learning communities in order to explore more deeply examples of best-practice instructional techniques in today’s college classroom. Participants in these informal learning communities commit to active engagement and follow-through with a group-defined project while benefiting from mentoring and/or community support during the experience.
      </p>
      <h2>Effective Instructional Practices</h2>
      <p>
      Each year College STAR surveys East Carolina University students in search of effective instructional practices used by their professors. The students are asked to share a description of effective teaching practices faculty members have used at East Carolina University and that have benefitted them as a college learner. Click here to read some of the most insightful submissions.
      </p>
    </div>
  </div>
</div>
