<% content_for :title, "Frequently Asked Questions" %>
<div id="content-wrapper">
<%= render "shared/side_bar" %>
  <div id="right-column-wrapper">
    <div id="content">
      <h1>College STAR Frequently Asked Questions</h1>

<h3>Q: What is the College STAR program?</h3>
<p>
<strong>A:</strong> College STAR (Supporting Transition, Access and Retention) is a project of the University of North Carolina system designed to support students with learning differences and to disseminate best-practice teaching methods to faculty members for promoting the success of students of varied learning styles and backgrounds. Each participating campus has designed a model that weaves together direct student support targeted to specific populations as well as instructional support for faculty across the campus. Participants in the student support programs have shown improvement in understanding themselves as learners and have mastered specific skills related to organization and planning, note-taking, test-taking, and attention management.
</p>
<h3>Q: Where in the UNC system do College STAR programs exist?</h3>
<p>
<strong>A:</strong> Three schools within the UNC system currently have College STAR programs: East Carolina University, University of North Carolina Greensboro and Appalachian State University. The program also focuses on creating pathways for communication with other UNC system campuses, K-12 education settings, the NC Department of Public Instruction and the NC Community College System as well as other university systems in the country.
</p>
<h3>Q: How and when would a student access College STAR program resources?</h3>
<p>
<strong>A:</strong> It is estimated that at least 3-9 percent of students on college campuses have some kind of learning difference. Sometimes the learning differences are identified earlier in the educational system. These students can contact the appropriate campus while in high school to begin exploring College STAR options and planning for a transition to college life. Each College STAR student-support program uses a unique application process that considers student characteristics that align with the resources offered by the individual program and the admission policies of the respective institutions. It is also possible for college students to access some College STAR resources if their learning differences become apparent once already enrolled. An ideal time for college-bound students to begin learning about the different programs is fairly early in high school.
</p>
<h3>A: What types of learning differences qualify students for College STAR?</h3>
<p>
<strong>A:</strong> At ECU, the program focuses on students with specific learning disabilities such dyslexia, dysgraphia and dyscalculia. At UNCG, the program focuses on students with Attention Deficit/Hyperactivity Disorder (AD/HD). The focus at ASU is students with significant executive functioning challenges, which are typically neurocognitive differences that cause difficulties with tasks which involve planning, flexibility, organization, and self-monitoring.
</p>
<h3>Q: What services are offered through College STAR student-support programs?</h3>
<p>
A: Services available through College STAR student-support programs include assistance in making the transition from high school to college, seminar-style courses to equip students with skills necessary to succeed in their other coursework, and a support network that includes advisors, tutors and specialists. The ability to modify course load and access technology that can facilitate learning is also part of some of the programs. Student-support programs associated with College STAR serve limited numbers of students, but the instructional support component of the initiative is designed to benefit all students by providing support and professional development to faculty members, advisors, and tutors.
</p>
<h3>Q: What role does technology play in facilitating learning by students with learning differences?</h3>
<p>
<strong>A:</strong> College STAR participants are encouraged to explore a wide range of assistive technologies that may help them with their coursework. Assistive technology can help students maximize learning strengths and minimize or circumvent specific learning weaknesses. These include tools such as text-to-speech software, speech-to-text software, and "smart" pens. For example, through the College STAR initiative text-to-speech software is being made available to all students and faculty on each campus. Learning communities of students and faculty members are also exploring other technologies that have the potential to enhance student access to material and engagement in the learning process. Some examples include classroom response systems and video capturing of tutoring and lecture sessions.
</p>
<h3>Q: What role do tutors play in the College STAR program?</h3>
<p>
<strong>A:</strong> Tutors funded by College STAR work closely with faculty members, attend classes for which they are providing tutoring, and hold group and individual peer tutoring sessions for undergraduate students. Tutors also receive training in learning theory, learning differences, and use of assistive technologies. Adapted from a model utilized at Muhlenberg College, this tutoring approach brings support to both students and faculty as well as leadership opportunities to participating tutors.
</p>
<h3>Q: What faculty programs are covered by College STAR?</h3>
<p>
<strong>A:</strong> In addition to student-support programs, each university has designed an instructional support model for faculty members. College STAR provides support for faculty members who want to infuse the principles of Universal Design for Learning into classroom instruction. Use of these principles has the potential to enable them to better serve the wide range of learners in college classrooms today.
</p>
<h3>Q: What is the cost of College STAR programs?</h3>
<p>
<strong>A:</strong> Due to the generous support of the College STAR program by a consortium of foundations, students who participate in College STAR programs do so at no additional charge.
</p>
<h3>Q: Who funds College STAR?</h3>
<p>
<strong>A:</strong> College STAR is currently funded by the Oak Foundation of Geneva, Switzerland and the N.C. GlaxoSmithKline Foundation. The UNCG program receives additional local support from the Joseph M. Bryan Foundation, the Cemala Foundation, the Weaver Foundation, the Tannenbaum-Sternberger Foundation and the Michel Family Foundation.
</p>
<h3>Q: Why is UNC interested in students with learning differences?</h3>
<p>
<strong>A:</strong> UNC recognizes that the state's economic future is dependent on helping its citizens become better educated and equipped to compete for the jobs of tomorrow. In spite of demonstrated abilities, students with learning differences attend and graduate from college at lower rates than their peers.
</p>
<h3>Q: What does the future hold for College STAR?</h3>
<p>
<strong>A:</strong> UNC aims to become the first public university system to intentionally address education for students with learning disabilities by weaving together direct student-support targeted to specific populations as well as instructional support for faculty members. Instructional development support, for faculty who teach increasingly diverse groups of learners in today's college classrooms, is grounded in principles of Universal Design for Learning. The program hopes to expand to other colleges in the system as additional funding becomes available.
</p>
<h3>Q: What is Universal Design for Learning?</h3>
<p>
<strong>A:</strong> Universal Design for Learning (UDL) is an educational framework based on neuroscience research that guides the development of flexible learning environments that can accommodate individual learning differences. It encourages a curriculum that presents information in multiple ways to give learners various ways of acquiring knowledge, providing learners multiple ways to demonstrate what they know and using multiple ways of engaging learners to keep them interested and motivated.
</p>
<h3>Q: How would I obtain more information about College STAR?</h3>
<p>
<strong>A:</strong> Information is available at each of the campuses involved as well as this website, www.collegestar.org. Dr. Sarah Williams, Associate Professor of Special Education at ECU, serves as Principal Investigator of the overall College STAR program. Dr. Diane Majewski, Director of Program Development and Evaluation for Dean of Students, serves as the Project Director on the ECU campus. Dr. Julia Jackson-Newsom, Special Assistant to the Vice Chancellor for Research and Economic Development, serves as the Project Director for College STAR at UNCG. Dr. Will Canu, Associate Professor of Psychology, serves as the Project Director for College STAR at ASU.
</p>
<p>
Last Updated: March 2013
</p>
<h3>Still have questions?</h3>
<p>
If you failed to find an answer to your question please feel free to contact a member of the College STAR team through our Contact Us page. We will do our best to answer any and all questions as quickly as possible.
</p>
    </div>
  </div>
</div>
