<div id="content-main-wrapper">
  <div id="left-info">
    <h1>Left Info</h1>
  </div>
  <div id="content">
    <div id="home-content-top">
      <h1>Main Content</h1>
      <p>Main content section.</p>
    </div>
  </div>
</div>
