<% content_for :title, "Partners & Connections" %>
<div id="content-wrapper">
<%= render "shared/side_bar" %>
  <div id="right-column-wrapper">
    <div id="content">
      <h1>College STAR Partners &amp; Connections</h1>        
      <%= render 'shared/bread_crumb_social_media', bread_crumb_args: { page_name: 'partners & connections' } %>

      <p>The College STAR program proudly partners with the following organizations:</p>
	    <div class="partner-wrapper">
	    	<a name="uncga"></a>
	    	<div class="partner-image">
	    		<%= image_tag "unc_ga.png" %>
	    	</div>
        <div class="partner-info">
	    	  <h2>University of North Carolina General Administration</h2>
        </div>
	    	<div class="partner-info">
	    		<div class="partner-info-title">
	    			website:
	    		</div>
	    		<div class="partner-info-value">
	    			<a class="regLink" href="http://www.northcarolina.edu/leadership/ga.htm" target="_blank">www.northcarolina.edu/leadership/ga.htm</a>
	    		</div>
	    	</div>
	    	<div class="partner-info">
	    		<div class="partner-info-title">
	    			address:
	    		</div>
	    		<div class="partner-info-value">
	    			North Carolina University General Administration<br />
	    			910 Raleigh Rd.<br />
	    			P.O. Box 2688<br />
	    			Chapel Hill, NC 27514
	    		</div>
	    	</div>
	    	<div class="partner-info">
	    		<div class="partner-info-title">
	    			phone:
	    		</div>
	    		<div class="partner-info-value">
	    			(919) 962-1000
	    		</div>
	    	</div>
	    </div>
	    <div class="partner-wrapper">
	    	<a name="doe"></a>
	    	<div class="partner-image">
	    		<%= image_tag "doe.png" %>
	    	</div>
        <div class="partner-info">
	    	  <h2>U.S. Department of Education</h2>
        </div>
	    	<div class="partner-info">
	    		<div class="partner-info-title">
	    			website:
	    		</div>
	    		<div class="partner-info-value">
	    			<a class="regLink" href="http://www.ed.gov" target="_blank">www.ed.gov</a>
	    		</div>
	    	</div>
	    	<div class="partner-info">
	    		<div class="partner-info-title">
	    			address:
	    		</div>
	    		<div class="partner-info-value">
	    			Department of Education Building<br />
	    			400 Maryland Ave, SW<br />
	    			Washington, DC 20202
	    		</div>
	    	</div>
	    	<div class="partner-info">
	    		<div class="partner-info-title">
	    			phone:
	    		</div>
	    		<div class="partner-info-value">
	    			1-800-872-5327
	    		</div>
	    	</div>
	    </div>


    </div>
  </div>
</div>
