<% content_for :title, "Walter & Marie Williams STEPP Program" %>
<div id="content-wrapper">
<%= render "shared/side_bar" %>
  <div id="right-column-wrapper">
    <div id="content">
      <h1>Walter &amp; Marie Williams STEPP Program</h1>
<p>
East Carolina University's STEPP Program is a comprehensive program serving college students with documented Specific Learning Disabilities (LD) such as Dyslexia, Dysgraphia, and Dyscalculia. The program offers academic, social, and life-skills support to a select number of motivated and committed students who demonstrate the potential to succeed in college. STEPP Program also provides intensive supports well beyond the services legally required at the university level.
</p>
<p>
Each year STEPP Program accepts 10 new students for fall-semester entry to ECU. Both true freshmen and transfer students are welcome to apply. STEPP Program does not limit a student’s choice of major at ECU and does not charge additional fees for services.
</p>
<h2>Program Outline</h2>

<ol>
  <li><strong>Incoming Transition Activities and Support</strong></li>
    <ul>
      <li>Monthly transition mailings provide guided preparation in key areas of college readiness</li>
      <li>Individualized consultation offers targeted support to students, families, and schools as needed</li>
      <li>Boot Camp jump-starts the college experience for first-year students and parents with an intensive introduction to ECU held the week before the fall semester begins</li>
    </ul>
  <li><strong>Ongoing Services and Requirements during the College Years</strong></li>
    <ul>
      <li>Required <strong>study hall</strong> hours enable each student to create a structured schedule with ample time devoted to academics within a resource-rich, supervised environment conducive to effective studying</li>
      <li><strong>Mentoring</strong> by ECU graduate students offers support and guidance as first-year students implement new skills and access campus resources</li>
      <li>Peer <strong>Tutoring</strong> provides assistance in selected subjects during study hall hours</li>
      <li><strong>Parallel Curriculum</strong> of five STEPP Program courses, taken in addition to ECU’s academic requirements, develop skills and habits essential to academic success</li>
      <li><strong>Assistive technology</strong> resources and support enhance learning activities</li>
      <li>Ongoing <strong>advising</strong> (including goal setting, grade reporting, and consultation) assists students in tracking their academic progress; a dual-advising model partners STEPP Program with advisors in each student’s major</li>
      <li><strong>Campus Living connections</strong> include residence hall placement within an ECU living-learning community for all first-year students</li>
      <li>Guidance in accessing <strong>Disability Support Services</strong> and other campus resources fosters establishing and maintaining connections with ECU</li>
    </ul>
  <li><strong>Outgoing Transition Activities and Support</strong></li>
    <ul>
      <li><strong>Internship</strong> facilitates the transition from college to career</li>
      <li>Development of a <strong>professional portfolio</strong> identifies critical competencies within each student’s field of study and showcases his/her accomplishments</li>
  </ul>
</ol>

<h2>Transition Curriculum</h2>
<p>
The STEPP Program Transition Curriculum is a resource intended to be used by teachers and families supporting transition to college for students with learning differences. These materials are available at no cost thanks to generous funding support from the Oak Foundation.
<p>

<h2>Application Deadlines</h2>
<p>
Students apply directly to <%= link_to "STEPP Program", "http://www.ecu.edu/cs-acad/stepp/apply.cfm", target: "_blank" %> and should begin the application process approximately 18 months prior to their intended date of entry at ECU.
</p>
<!--If you plan to enter ECU in... your application deadline is... Fall 2014 May 15, 2013 Fall 2015 May 15, 2014 Fall 2016 May 15, 2015 -->
    </div>
  </div>
</div>
