<% content_for :title, "Students" %>
<div id="content-wrapper">
<%= render "shared/left_info" %>
  <div id="right-column-wrapper">
    <div id="content">
      <h1>College STAR for Students</h1>
<p>
As this page grows we hope it will be a useful resource for both current and prospective college students. For any student, finding a college environment that is a good fit in relation to personal goals, preferences, styles, strengths, and needs is important. Students with learning differences may find an even wider range of considerations necessary when researching college opportunities and preparing for a successful transition. The resources on this page are designed to include student-shared tips and resources, as well as information about student support programs in and beyond the College STAR network. Many of these resources are generated and monitored by college students who have the most current and relevant understandings about college life today!
</p>

<h2>Student Supports</h2>
<p>
Each College STAR campus has identified a target population of students and developed a support program that, for selected participants, will offer a wide range of supports. These support programs also enable faculty and university personnel to learn about academic potential, successes, and challenges of that specific student group in an effort to understand more about how to best serve the wide range of learners on our campuses today. These links will take you to more information about these specific support programs as well as links to support programs across the nation that will continue growing as we learn about more opportunities in the college setting for students with learning differences.
</p>
<h2>As-U-R</h2>
<p>
Appalachian State University's student support program, As-U-R, provides a variety of services and resources for students with EFC who otherwise might "fall through the cracks" of a typical network of support services at a university. Specifically, we seek to serve students without an existent (or current) SLD or ADHD diagnosis who have EFC.
</p>
<h2>Project STEPP</h2>
<p>
East Carolina University's Project STEPP offers comprehensive academic, social, and life-skills support to a select number of students with identified Specific Learning Disabilities who have shown the potential to succeed at ECU. Funded primarily with private gifts, this program provides a unique opportunity to a population that traditionally may not have access to college. read more
</p>
<h2>ACCESS</h2>
<p>
The University of North Carolina Greensboro's student support program is ACCESS. ACCESS (Accessing Campus Connections and Empowering Student Success) is a 3-year clinical research project aimed at implementing and refining a campus-based treatment for college students with AD/HD. ACCESS is designed to give UNCG students with AD/HD the knowledge and skills necessary to be successful academically, personally, and socially, and to integrate and coordinate delivery of existing support services.
</p>
<h2>Student-to-Student Blog</h2>
<p>
College students, the Student Blog is an opportunity for you to share ideas about strategies, routines, study techniques, resources, etc. that you have found particularly helpful in the college setting with other college students. Let us know what works for you!
</p>
    </div>
  </div>
</div>
