<% content_for :title, "Students" %>
<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1><%= @page_content.title.html_safe %></h1>        
      <%= render 'shared/bread_crumb_social_media', bread_crumb_args: { page_name: 'students' } %>
      <%= @page_content.text.html_safe %>
    </div>
  </div>
</div>
