<% content_for :title, "Supporters" %>
<div id="content-wrapper">
<%= render "shared/side_bar" %>
  <div id="right-column-wrapper">
    <div id="content">
      <h1>College STAR Supporters</h1>	

      <p>The College STAR project is made possible by the generous support of the following organizations:</p>
      <div class="supporter-wrapper">
		    <a name="oak"></a>
		    <div class="supporter-image">
		    	<%= image_tag "danland_logo.png" %>
		    </div>
        <div class="supporter-info">
		      <h2>Oak Foundation USA</h2>
        </div>
        <div class="supporter-info">
		    	<div class="supporter-info-title">
		    		website:
		    	</div>
		    	<div class="supporter-info-value">
		    		<a class="regLink" href="http://www.oakfnd.org" target="_blank">www.oakfnd.org</a>
		    	</div>
		    </div>
		    <div class="supporter-info">
		    	<div class="supporter-info-title">
		    		address:
		    	</div>
		    	<div class="supporter-info-value">
		    		Oak Foundation USA<br />
		    		55 Vilcom Center Drive, Suite 340<br />
		    		Chapel Hill, NC 27514
		    	</div>
		    </div>
		    <div class="supporter-info">
		    	<div class="supporter-info-title">
		    		email:
		    	</div>
		    	<div class="supporter-info-value">
		    		ldp@oakfnd.ch
		    	</div>
        </div>
	    </div>
	    <div class="supporter-wrapper">
	    	<a name="gskf"></a>
	    	<div class="supporter-image">
	    		<%= image_tag "gskf.png" %>
	    	</div>
        <div class="supporter-info">
	    	  <h2>North Carolina GlaxoSmithKline Foundation</h2>
        </div>
	    	<div class="supporter-info">
	    		<div class="supporter-info-title">
	    			website:
	    		</div>
	    		<div class="supporter-info-value">
	    			<a class="regLink" href="http://www.ncgskfoundation.org" target="_blank">www.ncgskfoundation.org</a>
	    		</div>
	    	</div>
	    	<div class="supporter-info">
	    		<div class="supporter-info-title">
	    			address:
	    		</div>
	    		<div class="supporter-info-value">
	    			North Carolina GlaxoSmithKline Foundation <br />
	    			PO Box 13398 Five Moore Drive<br />
	    			Research Triangle Park, NC 27709
	    		</div>
	    	</div>
	    	<div class="supporter-info">
	    		<div class="supporter-info-title">
	    			phone:
	    		</div>
	    		<div class="supporter-info-value">
	    			(919) 483-2140
	    		</div>
	    	</div>
	    	<div class="supporter-info">
	    		<div class="supporter-info-title">
	    			email:
	    		</div>
	    		<div class="supporter-info-value">
	    			info@ncgskfoundation.org
	    		</div>
	    	</div>
	    			<div class="supporter-info">
	    		<div class="supporter-info-title">
	    			fax:
	    		</div>
	    		<div class="supporter-info-value">
	    		(919) 315-3015
	    		</div>
	    	</div>
	    </div>
    </div>
  </div>
</div>
