<% content_for :title, "Terms of Use" %>
<div id="content-wrapper">
<%= render "shared/side_bar" %>
  <div id="right-column-wrapper">
    <div id="content">
      <h1><%= @page_content.title.html_safe %></h1>        
      <%= render 'shared/bread_crumb_social_media', bread_crumb_args: { page_name: 'terms of use' } %>

      <%= @page_content.text.html_safe %>
    </div>
  </div>
</div>
