<% content_for :title, "Terms of Use" %>
<div id="content-wrapper">
<%= render "shared/left_info" %>
  <div id="right-column-wrapper">
    <div id="content">
      <h1>College STAR Terms of Use Policy</h1>
    </div>
  </div>
</div>
