<% content_for :title, "Student Support Programs" %>

<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
    
      <h1>Student Support Programs</h1>
      <%= render(
        'shared/bread_crumb_social_media', 
        bread_crumb_args: { 
          page_name: 'Student Support Programs',
          parents: [],
        },
        social_media_args: {
          show: false,
        }
      ) %>  
      <div id="student-support-programs">
        <% @student_support_programs.each do |program| %>
          <div class="program-wrapper">
            <div class="logo-wrapper">
              <%= link_to image_tag(program.logo.url), student_support_program_path(slug: program.slug) %>
            </div>
            <div class="name-wrapper">
              <h1><%= link_to program.name.html_safe, student_support_program_path(slug: program.slug)  %></h1>
            </div>
            <div class="mission-statement-wrapper">
              <%= program.mission_statement.html_safe %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
