<% content_for :title, "Student Support Programs" %>

<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
    
      <h1>Student Support Programs</h1>
      <%= render(
        'shared/bread_crumb_social_media', 
        bread_crumb_args: { 
          page_name: 'Student Support Programs',
          parents: [],
        },
        social_media_args: {
          show: false,
        }
      ) %>  
      <p>The Student Support Programs resource is a listing of programs designed specifically to support students with learning and attention differences, as well as a profile page that provides more detail about each program. We will continue to expand this resource as we learn of new campus programs. Please click here to share programs with us that may be good additions to the list. This directory includes a variety of public and private, large and small, university and college programs with a range of assistance, financial cost, and target student groups.</p>

<p>College STAR anchor campuses are noted with a College STAR Seal. While each College STAR anchor campus (East Carolina University, Appalachian State University, and Fayetteville State University) offers a student support program for students with learning and attention differences, this directory also includes programs that were established separate from (and in some instances long before) the College STAR initiative. Our goal with this resource is simply to put information about different support programs at the fingertips of students who are looking for postsecondary settings that are just the right fit for their goals and needs.</p>
      <div id="student-support-programs">
        <% @student_support_programs.each do |program| %>
          <div class="program-wrapper">
            <div class="logo-wrapper">
              <%= link_to image_tag(program.logo.url), student_support_program_path(slug: program.slug) %>
            </div>
            <div class="name-wrapper">
              <h1><%= link_to program.name.html_safe, student_support_program_path(slug: program.slug)  %></h1>
            </div>
            <div class="mission-statement-wrapper">
              <%= program.mission_statement.html_safe %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
