<% content_for :title, "Add a new Student Support Program" %>

<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1>Add your Student Support Program to our Index</h1>
      <%= render 'student_support_programs/forms/new' %>
    </div>
  </div>
</div>
