<% content_for :title, @student_support_program.name %>

<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1><%= @student_support_program.name.html_safe %>

    </div>
  </div>
</div>
