<%= content_for :title, "#{@udl_module.title.html_safe} Assessment" %>

<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
     <h1><%= @udl_module.title.html_safe %> Assessment Results</h1>
     <%= @assessment.inspect %>
    </div>
  </div>
</div>
