<div id="form-completion-date-wrapper">
  <div class="completion-data-input">
    <%= f.label :completion_date, "4. What is your estimated completion date for the module content (This date may be changed later)" %>
  </div>
  <div id="form-completion-date-field">
    <%= f.text_field :completion_date %>
  </div>
</div>
