<div id="form-start-date-wrapper">
  <div class="start-data-input">
    <%= f.label :start_date, "3. What is your estimated start date for the module content (This date may be changed later)" %>
  </div>
  <div id="form-start-date-field">
    <%= f.text_field :start_date %>
  </div>
</div>
