  <div id="form-working-title-wrapper">
    <div class="title-input">
      <%= f.label :title, "1. Working Title:" %>
    </div>
    <div class="form-text-field">
      <%= f.text_field :title %>
    </div>
  </div>
