<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1>Password Reset instructions sent</h1>
      <p>
      <%= @user.email %>
      </p>
    </div>
  </div>
</div>
