<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1>Forgot your password?</h1>
      
      <p>
      Request a reset link.
      </p>
      <%= render 'password_resets/forms/new' %>
    </div>
  </div>
</div>
