<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1>Faculty Redesign Summaries</h1>
     
      <div id="faculty-redesign-summaries-table-wrapper">
        <table id="faculty-redesign-summaries">
          <tr>
            <th>Faculty Member</th>
            <th>Department</th>
            <th>Submission Date</th>
          </tr>
          <% @redesign_summaries.each do |summary| %>
            <tr>
              <td><%= link_to "#{summary.user.first_name} #{summary.user.last_name}", faculty_redesign_summary_path(summary) %></td>
              <td><%= link_to summary.user.department, faculty_redesign_summary_path(summary) %></td>
              <td><%= link_to summary.created_at.strftime("%m/%d/%Y"), faculty_redesign_summary_path(summary) %>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
