<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1>Add a new Redesign Summary</h1>
        <%= render 'faculty/redesign_summaries/forms/new' %>
    </div>
  </div>
</div>
