<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1>Module Proposal Received</h1>
      <p>
      <%= @module_proposal.first_name %>,
      </p>
      <p>
Thank you for your module proposal. Our team will review the proposal and will reach back out to you if we want to pursue this topic. Feel free to reach out to us at any time at <%= mail_to "support@collegestar.org" %>.
      </p>
      <p>
      Thank you,<br />
      The College STAR Team
    </div>
  </div>
</div>
