<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1>Edit Module Proposal</h1>
      <div id="module-proposals-form-wrapper">
        <%= render 'faculty/module_proposals/forms/edit' %>
      </div>
    </div>
  </div>
</div>
