<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1>Submit a Module Proposal</h1>
      <p>
      We welcome your proposal submissions for resources to add to the College STAR site.  We are always looking for new practices and ideas to add to our faculty development resources. Below is a module proposal form.  Please fill out all of the required information, including a working title and brief description of the proposed module. The College STAR team meets several times per year to discuss module production, and will reach out if your topic is selected. Thank you for all of your hard work!
      </p>
      <div id="module-proposals-form-wrapper">
        <%= render 'module_proposals/forms/new' %>
      </div>
    </div>
  </div>
</div>
