<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1>College STAR Online Modules and Case Studies – Proposal Form</h1>
      <p> 
      We are always looking for new ideas that help campuses welcome and anticipate the rich diversity of learning profiles that students bring to our college classrooms today, and we welcome your proposal submissions for College STAR professional development resources.  Currently we are accepting applications for two types of proposals: 
      </p>
      <p>
      New module proposals: Selected modules will convey content and instructional approaches that are aligned with the principles of Universal Design for Learning, that we do not currently feature in existing modules, and that the selection committee feels are a good match with areas of need on our website.
      </p>
      <p>
      Case study proposals:  Case studies will become additions to existing modules.  They depict use of the instructional practice featured in the core module used in a different discipline or way.  In essence, these provide a new twist to an existing module and expand the practical examples from which module users can draw/learn.
      </p>
       
      <h3>Module Proposals</h3>
      <p>
      Do you incorporate a practice in your classroom that we have not yet featured on our site? If so, submit a module proposal using the form below and tell us about it! Module authors are tasked with giving unfamiliar readers a review of the guiding principles and relevant literature, as well as providing familiar readers with new ways to integrate the practice in their classroom.  That said, modules should be succinct and practical – designed in such a way that another faculty member can walk away with a clear idea of how the featured instructional approach works and how to try it in the classroom.  Currently $1,500 in support funding is available for accepted module proposals.  Module proposals are due on November 18, 2016.
      </p>
       
      <h3>Case Studies</h3>
      <p>
      Do you have a new take on a practice already featured on our site? Submit a case study proposal using the form below and tell us how you integrate this practice into your classroom. These proposals are integrated as part of an existing module, so these proposals focus solely on individual implementation. Currently $500 funding is available for accepted case study proposals. Case study proposals are due on November 18, 2016.
      </p>
      <p>
      We look forward to hearing your ideas. Thank you for all of your hard work on behalf of your students!
      </p>
      <div id="module-proposals-form-wrapper">
        <%= render 'module_proposals/forms/new' %>
      </div>
    </div>
  </div>
</div>
