<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">


      <h1>2020 Virtual Conference Registrations</h1>
      
      <ul>
        <% @registrations.each do |registration| %>
          <li><%= link_to(
                    "#{registration.last_name}, #{registration.first_name}",
                    virtual_conference_registration_path( registration )
                  )%></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
