<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1>Thank you for your feedback!</h1>
      <p>Thank you for taking the time to share your feedback with us. We value what you have to say and will use the information you have provided to influence the continued development of  our resources.</p>
      <p>The College STAR Team</p>

      <p><%= link_to "Back to your module", udl_module_path(slug: @udl_module.slug, anchor: "learn-more", feedback: false) %>
    </div>
  </div>
</div>
