<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <p id="notice"><%= notice %></p>
      <h1>Current Module Proposals</h1>
      <div id="module-proposals-table-wrapper">
        <table id="module-proposals">
          <tr>
            <th id="name-heading">Faculty Name</th>
            <th id="title-heading">Proposed Title</th>
            <th id="date-submitted-heading">Date Submitted</th>
          </tr>
          <% @module_proposals.each do |proposal| %>
          <tr>
            <td><%= link_to "#{proposal.first_name} #{proposal.last_name}", faculty_module_proposal_path( proposal ) %></td>
            <td><%= link_to proposal.title, faculty_module_proposal_path( proposal ) %></td>
            <td><%= link_to proposal.created_at.strftime("%m/%d/%Y"), faculty_module_proposal_path( proposal ) %></td>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
