<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1>Edit Case Study Proposal</h1>
      <div id="case-study-proposals-form-wrapper">
        <%= render 'case_study_proposals/forms/edit' %>
      </div>
    </div>
  </div>
</div>
