<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <p id="notice"><%= notice %></p>
      <h1>Current Case Study Proposals</h1>
      
      <%= render 'case_study_proposals/partials/proposals_table', { type: "Pending", proposals: @pending_proposals } %>
      <%= render 'case_study_proposals/partials/proposals_table', { type: "Accepted", proposals: @accepted_proposals } %>
      <%= render 'case_study_proposals/partials/proposals_table', { type: "Denied", proposals: @denied_proposals } %>
    </div>
  </div>
</div>
