<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1><%= @page_content.title.html_safe %></h1>

      <%= @page_content.text.html_safe %>
    </div>
  </div>
</div>
