<div id="social-buttons-wrapper">          
  <div id="twitter-wrapper">
    <div class="twitter-share-button">
      <%= format_twitter_share_button( args ) %>
    </div>
  </div>
  <div id="facebook-wrapper">
    <%= format_facebook_share_button( args ) %>
  </div>
</div>
