<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1><%= @news_article.title %></h1>
      
      <%= render 'news_article_form' %>
      <div id="back-link-wrapper">      
        <%= link_to( 
                     fa_icon( "arrow-left", text: "Back to article"), 
                     @news_article 
                   )
        %>
      </div>
    </div>
  </div>
</div>
