<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <p id="notice"><%= notice %></p>
      
      <h1>Listing News Articles</h1>
        <ul id="news_articles">
          <% @news_articles.each do |news_article| %>
            <li>
              <div class="news_article">
                <h2><%= link_to news_article.title, news_article %></h2>
                <p><%= news_article.excerpt.html_safe %></p>
              </div>
            </li>
          <% end %>
       </ul> 
      <% if can? :create, @news_article %>
        <%= link_to 'New article', new_news_article_path %>
      <% end %>
    </div>
  </div>
</div>
