//All base mixins go here.

@mixin font-with-line-height($font-size, $multiplier: 1.2) {
  font-size: $font-size;
  line-height: $font-size * $multiplier;
}

@mixin heading($font-size-multiple: 2) {
  font-size: $base-font-size * $font-size-multiple;
}

@mixin bordered-panel() {
  box-sizing: border-box;
  border: $default-border-width solid $default-border-color;
  border-radius: .5em;
  background-color: $white;
}


@mixin entity-list-wrapper() {
  @include clearfix;
  @include span(13 of 14);
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: span(1);
  margin-bottom: gutter(14);
}

@mixin entity-title() {
  margin: 0 .5em .5em 0; 
}

@mixin entity-image() {
  @include span(4 of 13 no-gutters);
}

@mixin entity-info() {
  @include span(9 of 13 at 5 no-gutters);
  @include clearfix;
  margin: 0;
  p {
    margin: .25em 0;
  }
}

@mixin entity-info-title() {
  @include span(2 of 9 no-gutters); 
  p {
    text-align: right;
  }
}

@mixin entity-info-value() {
  @include span(7 of 9 at 3 no-gutters);
  p {
    font-weight: bold;
  }
}

@mixin edit-link() {
  color: $blue;
  font-style: normal;
  font-size: $base-font-size * .5;
  font-weight: bold;
}

@mixin flash-notification( $background-color ) {
  position: relative;
  margin-top: gutter();
  padding: 2*gutter();
  width: 100%;
  background-color: lighten($background-color, 10%);
  border: 1px solid darken($background-color, 10%);
  border-radius: $default-radius;
  color: $white;
  font-weight: bold;
  text-align: center; 
}

@mixin flash-close() {
  position: absolute;
  top: 0;
  right: .5em;
  color: darken($white, 5%);
  
  &:hover {
    color: $white;
    cursor: pointer;
  }
}

@mixin pagination-links-wrapper() {
  @include span(18 of 18 no-gutters);
  text-align: center;
  margin-bottom: gutter();
}

@mixin bread-crumb-social-media( $top-margin: 0 ) {
   #bread-crumb-wrapper {
    @include span( 18 of 18 no-gutters);
    margin-top: $top-margin;
    padding: 0 gutter();
    color: $aluminum;
    font-size: .75em;
  
    @include breakpoint($full) {
      
      @include span( 14 of 18 no-gutters);
    }
  
    a {
      color: $aluminum;
      font-size: 1em;
  
      &:hover {
        color: darken($aluminum, 10%);
        font-style: italic;
      }
    }
  }
  
  #social-buttons-wrapper {
    @include span(18 of 18 no-gutters);
    padding: 0 gutter();
  
    @include breakpoint($full) {
      @include span(4 of 18 at 15 no-gutters);
      margin-top: $top-margin;
      margin-right: gutter();
      padding: 0;
    }
  
    #facebook-wrapper {
      float: left;
      margin: 0;
      margin-left: 2* gutter();
      
      @include breakpoint($full) {
        float: right;
      }
    }
  
    #twitter-wrapper {
      float: left;
      margin: 0;
      margin-left: 2* gutter();
      
      .twitter-share-button {
        vertical-align: bottom;
      }
  
      @include breakpoint($full) {
        float: right;
      }
    }
  }
}

@mixin caption() {
  border-top: 1px solid #DDD;
  margin: 0 6*gutter() gutter() 6*gutter();
  font-size: $base-font-size * .85;

  @include breakpoint($full) {
    margin: 0 16*gutter() gutter() 16*gutter();
  }
}
