//All base mixins go here.

@mixin font-with-line-height($font-size, $multiplier: 1.2) {
  font-size: $font-size;
  line-height: $font-size * $multiplier;
}

@mixin heading($font-size-multiple: 2) {
  font-size: $base-font-size * $font-size-multiple;
}

@mixin bordered-panel() {
  @include box-sizing(border-box);
  border: $default-border-width solid $default-border-color;
  @include border-radius(.5em);
  background-color: $white;
}

@mixin entity-list-wrapper() {
  @include clearfix;
  @include span(13 of 14);
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: span(1);
  margin-bottom: gutter(14);
}

@mixin entity-title() {
  margin: 0 .5em .5em 0; 
}

@mixin entity-image() {
  @include span(4 of 13 no-gutters);
}

@mixin entity-info() {
  @include span(9 of 13 at 5 no-gutters);
  @include clearfix;
  margin: 0;
  p {
    margin: .25em 0;
  }
}

@mixin entity-info-title() {
  @include span(2 of 9 no-gutters); 
  p {
    text-align: right;
  }
}

@mixin entity-info-value() {
  @include span(7 of 9 at 3 no-gutters);
  p {
    font-weight: bold;
  }
}
