<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
<h1>Your Registration has been Successfully Submitted!</h1>

<p>Thanks <%= "#{@registration.first_name} #{@registration.last_name}," %></p>
<p>We have received your registration information and will be in contact with you in the near future with more information about the conference.</p>
<p>Sincerely,<br />
The College STAR TEAM</p>
    </div>
  </div>
</div>
