<div id="form-description-wrapper">
  <div class="description-input">
    <%= f.label :description, "2. Give us a brief description of the proposed content. (2000 character limit)" %>
  </div>
  <div class="form-text-area">
    <%= f.text_area :description, maxlength: "2000" %>
  </div>
</div>
