<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1>Edit your profile</h1>
      <%= render 'users/forms/edit' %>
      <h1>Change your password</h1>
      <%= render 'users/forms/change_password' %>
    </div>
  </div>
</div>
