<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1>Create your College STAR account!</h1>
      
      <%= render 'users/forms/create' %>
      
    </div>
  </div>
</div>
