<h2>Danger Zone</h2>

<p>
Options in the danger zone are destructive in nature and cannot be undone. Please ensure that you understand the consequences of these actions and that you really want to perform them.
</p>
