<div id="slide-show-wrapper">
  <div class="slide-image" >
    <img src="" />
    <div class="caption">
      <p>Caption Here</p>
    </div>
  </div>
  <div class="slide-image" >
    <img src="" />
    <div class="caption">
      <p>Caption Here</p>
    </div>
  </div>
  <div class="slide-image" >
   <img src="" /> 
   <div class="caption">
      <p>Caption Here</p>
    </div>
  </div>
  <div class="slide-image" >
    <img src="" />
    <div class="caption">
      <p>Caption Here</p>
    </div>
  </div>
</div>
