<div id = "left-column-wrapper">
  <div id="news">
    <h1>News Feed</h1>
    <% @news_articles.each do |news_article| %>
    <ul>
      <li><%= news_article.title %></li> 
    </ul>
    <% end %>
  </div>
</div>
