<div id = "left-column-wrapper">
  <div id="news_feed">
    <h1>News Feed</h1>
    <% @news_articles.each do |news_article| %>
    <ul>
      <li><%= link_to news_article.title, news_article_path( news_article )  %></li> 
    </ul>
    <% end %>
  </div>
</div>
