<% content_for :title, "Registration Complete!" %>

<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1>Student Support Summit registration complete!</h1>
      <p><%= @registration.contact_name %>,</p>
      <p>Thank your for registering your program for the 2017 Collage STAR Student Support Summit. We will be in touch in the near future with more information about the summit. We look forward to learning more about your program in October!</p>

      <p>Sincerely,<br/>
      The College STAR Team</p>
    </div>
  </div>
</div>
