<% content_for :title, "Register for the 2017 College STAR Student Support Summit" %>

<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1>Register for the 2017 College STAR Student Support Summit</h1>

      <%= render '/student_support_summit_registrations/forms/new' %>
    </div>
  </div>
</div>
