<p>
<strong>Purpose:</strong> This media consent form relates to your participatio n in activities or resource development related to Universal Design for Learning and the support of students with learning differences on the college campus. This initiative includes student and faculty supports made available with grant funding received primarily from the Oak Foundation for a project entitled , College STAR Supporting Transition, Access, and Retention: a UNC System Project Supporting Students with Learning Differences.
</p>
<p>
Examples of College STAR activities and resources are listed below. Please check the one that applies to your participation and then indicate your preference regarding the use of photography, video recording, or audio recording during your participation.
</p>
<p>
The development of online professional development modules. These modules will be made freely available online to the general public for educational and training purposes. You may be filmed, videotaped, photographed, or otherwise recorded as part of the Project.
</p>
<p>
Participation in professional development opportunities, student support programs, and shared learning opportunities on and off campus. Elements of these sessions may be recorded and disseminated freely online or on hard copy resources. Your participation is optional and you will not be recorded if you indicate that preference below. You are not under any requirement to participate. Any questions you may have about the College STAR Project may be directed to Dr. Sarah Williams (williamssar@ecu.edu ). You may also speak with any onsite personnel who are present where recordings are being made for the Project. In consideration for being permitted to participate, I consent to be photographed, video recorded, or audio recorded related during the College STAR Project, I hereby give my irrevocable consent to project team members to:
</p>
<p>
&nbsp;(I) Record in any medium (including, but not limited to, video, audio, digital , photograph, and/or electronic format) and use for any purpose my name, likeness, picture, portrait, image, voice, silhouette, and other reproductions of my physical likeness (as the same may appear in any still camera photograph and/or motion picture fil m or tape) and biographical information (collectively "Likeness");and
</p>
<p>
&nbsp;(2) For any purpose use, reproduce, publically display and/or perform, exhibit, modify, and/or distribute to individuals on this and other campuses, funders, and the general public via any medium (including, but not limited to, print, video tapes or DVD, CD-ROM, and/or the Internet/World Wide Web) recordings of my Likeness made pursuant to this Consent and Release;
</p>
<p>
I acknowledge and agree that all recordings that include my likeness, in whatever medium, shall remain the property of the University and may be used without my prior examination of the finished product. I understand that ECU owns all copyright rights in the recordings to the extent permitted by law and the rules of the grant funding agency. I hereby waive my rights to privacy in connection with the consent above given. I further understand that my participation is optional, and that I am not under any requirement to participate in this Project. I hereby release, discharge, and agree to hold harmless East Carolina University, its agents, representatives, contractors, and employees, and all parties to whom this consent is given, from any liability whatsoever. I agree that this Consent and Release will not be made the basis of a claim of any kind against East Carolina University or its agents, representatives, contractors, or employees. This acknowledges that I have read the foregoing and fully understand the contents thereof. This release shall be binding upon me, my heirs, legal representatives, and assigns. In witness thereof, I have caused this Consent and Release to be executed this 25th day of October, 2017.
</p>
