<% content_for :title, "Events" %>
<div id="content-wrapper">
<div id="single-column-wrapper">
<div id="content">
<p id="notice"><%= notice %></p>

<h1>College STAR Events</h1>
<%= render( 
      'shared/bread_crumb_social_media', 
      bread_crumb_args: {
        page_name: 'events'
      }
    )
%>

<h2>Upcoming Events</h2>
</div>
</div>
</div>
