<% content_for :title, "Events" %>
<div id="content-wrapper">
<div id="single-column-wrapper">
<div id="content">
<p id="notice"><%= notice %></p>

<h1>College STAR Events</h1>
<%= render( 
      'shared/bread_crumb_social_media', 
      bread_crumb_args: {
        page_name: 'events'
      }
    )
%>

<h2>2020 College STAR Virtual Student Support Network Conference</h2>
<p><%= link_to 'The College STAR Virtual Conference', virtual_conference_path %>: Preparing students who learn differently for college success, is a free, full-day, online conference for students, families, and professionals seeking meaningful resources and information about transition and access in higher education for students with diverse learning profiles. Professionals from across the country are assembling to inform participants about topics such as: accessibility services and accommodations, developing a college-level learning and support profile for individual students based on the student’s strengths and anticipated needs, and the identification of ‘right fit’ student support programs based on these needs. The mission of this conference is to provide tools and resources for students with learning and attention differences and assist participants in identifying best practices when conducting the transition from high school to college. The College STAR Virtual Conference is an inaugural event hosted by the College STAR Student Support Network.</p>
</div>
</div>
</div>
