<div id="case-study-proposal-accept-button-wrapper">
  <%= f.hidden_field :update_status, value: true %>
  <%= f.hidden_field :accepted, value: true %>
  <%= f.submit "Accept Proposal", class: "accept_proposal_button" %>
</div>
