<div id="form-strategy-link-wrapper">
  <div class="description-input">
    <%= f.label :strategy_link, "3. Have you reviewed Universal Design for Learning? How does your pedagogical strategy link to UDL? (2000 character limit)" %>
  </div>
  <div class="form-text-area">
    <%= f.text_area :strategy_link, maxlength: "2000" %>
  </div>
</div>
