<div id="content-wrapper">
  <div id="single-column-wrapper">
  <div id="content">
    <h1><%= @page_content.title.html_safe %></h1>
    <%= render 'shared/bread_crumb_social_media', bread_crumb_args: { page_name: 'contact us' } %>

    <%= @page_content.text.html_safe %>
    <%= render 'form' %>
  </div>
  </div>
</div>
