<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1>Message Sent</h1>
      <p>Thanks <%= @contact.name %>,</p>
      <p>
        We've recieved your message and will do our best to answer your questions in a timely manner.
      </p>
      <p>
        Sincerely,<br />
        The College STAR TEAM
      </p>
    </div>
  </div>
</div>
