<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <div id="module-title">
        <div id="module-title-wrapper">
          <h1>College STAR Virtual Conference</h1>
          <h2>Preparing students who learn differently for college success</h2>
        </div>
      </div>

      <%= @page_content.text.html_safe %>

      <h2>When?</h2>
      <h2>Where?</h2>

      <p><strong>The College STAR Virtual Conference: Preparing students who learn differently for college success</strong>, is a free, full-day, online conference for students, families, and professionals seeking meaningful resources and information about transition and access in higher education for students with diverse learning profiles. Professionals from across the country are assembling to inform participants about topics such as: <strong>accessibility services and accommodations, developing a college-level learning and support profile for individual students based on the student’s strengths and anticipated needs, and the identification of ‘right fit’ student support programs based on these needs.</strong> The mission of this conference is to provide tools and resources for students with learning and attention differences and assist participants in identifying best practices when conducting the transition from high school to college. The College STAR Virtual Conference is an inaugural event hosted by the College STAR Student Support Network.</p>

      <h2>Conference Theme Tracks</h2>
      <p>The conference will have four different theme tracks</p>
      <ul>
        <li><strong>Determining a student learning profile:</strong> Description needed</li>
        <li><strong>Myths or information about accomodations, IEP's, and 504 plans in college:</strong> Description needed</li>
        <li><strong>Transition from High School to College:</strong> Description needed</li>
        <li><strong>Identifying student support programs:</strong> Description needed</li>
      </ul>
      
      <div id="virtual-conference-registration-call-to-action-wrapper">
        <div class="button-wrapper">
          <%= link_to "Register for the Virtual Conference!", 
                      new_virtual_conference_registration_path, 
                      class: 'create-button' %>
        </div>
      </div>
      <p>&nbsp;</p>
    </div>
  </div>
</div>
