<div class="field-wrapper">
  <div class="text-field-label">
    <%= f.label :student_name %>
  </div>
  <div class="text-field">
    <%= f.text_field :student_name, placeholder: "Optional" %>
  </div>
</div>
<div class="field-wrapper">
  <div class="text-field-label">
    <%= f.label :student_email %>
  </div>
  <div class="text-field">
    <%= f.text_field :student_email, placeholder: "Optional" %>
  </div>
</div>
