<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1>College STAR Learning Community Registration Received</h1>
      <p>
      Thanks <%= @registration.first_name %>,
      </p>
      <p>
      We have received your request and will be in touch shortly. Thanks and if you have any questions, please feel free to contact <%= mail_to "support@collegestar.org" %>
      </p>
    </div>
  </div>
</div>
