<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1>Register for a STAR Learning Community</h1>
      <div id="star-learning-communities-registration-form-wrapper">
        <%= render 'star_learning_communities/registrations/forms/new' %>
      </div>
    </div>
  </div>
</div>
