<p>
<%= @proposal.name %>,
</p>

<p>
We've received your proposal, <%= @proposal.presentation_title %>. We will be in touch in the near future if we need more information and/or to let you know if you've been selected to present at the conference. Thank you for your submission and have a great day! Please contact Ellen Bunn at bunnek@appstate.edu if you have any questions or concerns.</p>

<p>Sincerely,<br />
The College STAR Team</p>
