<div id="form-review-ready-wrapper">
  <div class="checkbox-label">
    <%= f.label :review_ready, "This summary is ready for review"%>
  </div>
  <div class="checkbox">
    <%= f.check_box :review_ready %>  
  </div>
</div>
