<h2>Institution Information</h2>
<div id="student-support-program-institution-wrapper">
  <div id="student-support-program-institution-size-wrapper">
    <div class="label-wrapper">
      <%= f.label :institution_size, "How large is your institution?" %>
    </div>
    <div class="select-wrapper">
      <%= f.select(:institution_size, ['0-999', '1,000-9,999', '10,000-24,999', '25,000-49,999', '50,000+']) %>
    </div>
  </div>
  <div id="student-support-program-institution-type-wrapper">
    <div class="label-wrapper">
      <%= f.label :institution_type  %>
    </div>
    <div class="select-wrapper">
      <%= f.select(:institution_type, ['University', 'College', 'Community College', '2-year College']) %>
    </div>
  </div>
</div>
