<div id="student-support-program-mission-statement-wrapper">
  <div class="label-wrapper">
    <%= f.label :mission_statement %>
  </div>
  <div class="text-area-wrapper">
    <%= f.text_area :mission_statement %>
  </div>
</div>
