<div id="student-support-program-logo-name-wrapper">
  <div id="student-support-program-logo-wrapper">
    <div class="label-wrapper">
      <%= f.label :logo, "Logo/Image" %>
    </div>
    <div class="file-upload-wrapper">
      <%= f.file_field :logo %>
    </div>
  </div>
  <div id="student-support-program-name-wrapper">
    <div class="label-wrapper">
      <%= f.label :name %>
    </div>
    <div class="text-field-wrapper">
      <%= f.text_field :name %>
    </div>
  </div>
</div>
