<div id="student-support-program-video-link-wrapper">
  <div class="label-wrapper">
    <%= f.label :video_link %>
  </div>
  <div class="text-field-wrapper">
    <%= f.text_field :video_link %>
  </div>
</div>
