<div id="student-support-program-vision-statement-wrapper">
  <div class="label-wrapper">
    <%= f.label :vision_statement %>
  </div>
  <div class="text-area-wrapper">
    <%= f.cktext_area :vision_statement, ckeditor: { toolbar: 'base', height: 150 } %>
  </div>
</div>
