<% content_for :title, "Faculty Nomination Received!" %>
<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1>Thanks for your nomination!</h1>
      <p>
      Thank you for taking the time to submit your ideas. You can learn more about the College STAR project <a href="http://collegestar.org/about" alt="Visit College STAR">here</a>.
      </p>
      <p>Sincerely,<br />
      The College Star Team</p>
    </div>
  </div>
</div>
