<% content_for :title, "#{@campus.name.html_safe} Faculty Nomintation Survey" %>

<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1><%= "#{@campus.name.html_safe} Faculty Nomination Survey" %> </h1>
    </div>
  </div>
</div>
