<% content_for :title, "#{@campus.name.html_safe} Faculty Nomintation Survey" %>

<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1><%= "#{@campus.name.html_safe} Faculty Nomination Survey" %> </h1>
      <p>
       We welcome your submission of descriptions of effective teaching strategies faculty members have used at East Carolina University and that have benefitted you as a college learner! This is an opportunity for you to thank your teachers and contribute to idea sharing among faculty members and students about strong learning environments. From the construction of a syllabus, to the formatting of a quiz or exam, to daily lecture procedures, faculty members constantly make instructional decisions. Your feedback about the instructional choices that help you learn best are respected and appreciated. If you would like to share information about teaching practices (from the very basic to the more involved) that you have found to be effective, please complete the form linked here.
      </p>
      <p>
       Be sure to provide descriptions of specific instructional strategies. Clear descriptions of syllabus features, classroom routines and policies, lecture techniques, quiz formats, etc. are most helpful here. Simply saying a faculty member is “nice” or “interesting” will give a compliment to one faculty member, but provide little that can be shared with others. The more specific you can be the better! Think of describing the strategy in such a way that others could replicate it.
      </p>
      <%= render 'faculty_nomination_surveys/forms/new' %>
    </div>
  </div>
</div>
