<h2>Faculty Member</h2>
<p><strong>Name:</strong> <%= "#{survey.faculty_first_name.html_safe} #{survey.faculty_last_name.html_safe}" %></p>
<p><strong>Department:</strong> <%= survey.department.name.html_safe %></p>
