<h2>Teaching Strategy</h2>
<p><%= survey.teaching_strategy.html_safe %></p>
<p><strong>Strategy Description:</strong><br />
  <%= survey.strategy_description.html_safe %>
</p>
<p><strong>Why did you find this strategy, technique, or routine to be effective for you?</strong><br />
  <%= survey.reasons_for_effectiveness.html_safe %>
</p>
