<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1>Add a new Three Two One Video</h1>
      <div id="three-two-one-video-form-wrapper"> 
        <%= render 'three_two_one_videos/forms/new' %>
      </div>
    </div>
  </div>
</div>
