<div id="redesign-summary-attachment-drop-zone-wrapper" class="hidden">
  <h3>Add Attachments</h3>
  <div id="attachment-upload-progress-wrapper">
    <div id="attachment-upload-progress" class="hidden">
      <div id="progress-bar" ></div>
    </div>
  </div>
  <div id="redesign-summary-attachment-drop-zone">
    Drop files here to add attachment(s), or click to choose file(s).    
  </div>
</div>
