<p>
<%= image_tag attachments['seal_letter_head.png'].url, alt: 'College STAR Letter head' %>
</p>

<p>
Dear FACULTY MEMBER,
</p>
<p>
Congratulations! During the Spring 2016 semester, College STAR polled ECU students to learn about teaching practices used by their instructors that they considered particularly effective. One of your students responded to our inquiry and specifically mentioned instructional practices you use. We would like to take this opportunity to share with you what this student said.
</p>
<p>
Student(s) statement:
</p>
<blockquote>
This faculty member is great. Everything they do is awesome!<br/>
<strong>John Smith</strong>
</blockquote>

<p>
<%= link_to "College STAR", "https://www.collegestar.org" %> is a grant-funded project that provides participating campuses in the UNC System the opportunity to work together to create welcoming environments for students with learning differences and build models of faculty and student support based upon principles of Universal Design for Learning. We thank you for your commitment to utilizing effective practices that have a positive impact on student learning
</p>
<p>
You are making a difference for our ECU students! 
</p>

<p>
Sincerely,<br/>
Dr. Diane Majewski, Campus Director<br/>
majewskid@ecu.edu<br/>
</p>
