<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1>Create a Universal Design for Learning Resource</h1>

      <%= render 'universal_design_for_learning/forms/new' %>
    </div>
  </div>
</div>
