//Base Sass styles for CollegeSTAR.org

//Media Query Breaks
//$full: min-width 960px;
//$medium: min-width 500px;

body {
  background-color: $background-color;
  margin: 0px;
  padding: 0px;
  font-size: $base-font-size;
  font-size: $base-font-size;
  font-family: $default-font-family;
  color: $default-text-color;
}

#site {
  @include container(40em);
  @include clearfix();
  @include breakpoint($full) {
    @include container(60em);
  }
}

#content-wrapper {
  @include breakpoint(full) {
    @include container(60em);
    @include clearfix();
  }
}

h1 { 
  @include heading(1.6); 
  text-transform: uppercase;
  border-bottom: $default-border-width solid $default-border-color;
  padding: 0 .5em;
}
h2 { @include heading(1.5); }
h3 { @include heading(1.4); }
h4 { @include heading(1.3); }
h5 { @include heading(1.2); }
h6 { @include heading(1.1); }

p {
  text-align: justify;
  margin: 1em 2.5em;
  padding: 0;
}

.float-left {
  @include float-left;
}

.float-right {
  @include float-right;
}
