//Base Sass styles for CollegeSTAR.org

//Media Query Breaks
//$full: min-width 960px;
//$medium: min-width 500px;

body {
  @include show-grid(overlay);
  background-color: $background-color;
  margin: 0px;
  padding: 0px;
  font-size: $base-font-size;
  font-size: $base-font-size;
  font-family: $default-font-family;
  color: $default-text-color;
}

#site {
  @include container(40em);
  @include clearfix();
  @include breakpoint($full) {
    @include container(60em);
  }
}

#content-wrapper {
  @include breakpoint($full) {
    @include container(60em);
    @include clearfix();
  }
}

#left-column-wrapper {
  display: none;
  @include breakpoint($full) {
    display: inherit;
    @include span(4 of 18);
    margin-top: gutter();
    margin-bottom: gutter();
    @include bordered-panel();
  }
}

#right-column-wrapper {
  @include span(18 of 18 no-gutters);
  @include breakpoint($full) {
    @include span(14 of 18 at 5);
  }
  margin-top: gutter();
  margin-bottom: gutter();
  @include clearfix();
}

#feature-wrapper {
  @include span(18 of 18 no-gutters);
  margin-top: gutter();
  @include clearfix();
}

#single-column-wrapper {
  @include span(18 of 18 no-gutters);
  margin-top: gutter(18);
  margin-bottom: gutter(18);
  @include clearfix();
}

#content {
  @include bordered-panel();
  @include clearfix();
  img {
    box-shadow: 5px 5px 2px #CCC;
    margin-right: 2 * gutter();
    margin-bottom: 2 * gutter();
  }
}

h1 { 
  @include heading(1.4); 
  text-transform: uppercase;
  border-bottom: $default-border-width solid $default-border-color;
  margin: .5em;
  padding: 0;
}
h2 { 
  @include heading(1.3); 
  border-bottom: $default-border-width solid $default-border-color;
  margin: 1.5em;
  padding: 0;
}
h3 { 
  @include heading(1.1); 
  margin: 1em 2.3em;
  padding: 0;
}
h4 { @include heading(1.1); }
h5 { @include heading(1.1); }
h6 { @include heading(1.1); }

p {
  text-align: justify;
  margin: 1em 2.5em;
  padding: 0;

  &.muted {
    font-size: .85em;
    margin: 1.25em 3em;
    font-style: italic;
    color: $aluminum;
  }

  &.revision {
    display: inline;
    margin: 0 .6em;
    padding: 0;
    font-size: .75em;
    font-style: italic;
    color: $aluminum;
  }

  &.reference {
  	margin: .3em 2.5em .3em 5.5em;
	  text-indent: -3em;
	  text-align: left;
  }
}

ul {
  margin: 1em 4em;
  padding: 0;

  li {
    margin: 1em .5em;
    padding: 0;
    list-style-type: disc;
  }
}

.create-button {
}

.nav-button {
}

.delete-button {
}

a.view-all {
  float: right;
  font-size: .75em;
  font-weight: bold;
  color: $cs-orange; 
  margin: -1em 1em 0 0;
  padding: 0;
}

a.read-more {
  font-size: .75em;
  font-weight: bold;
  color: $cs-orange;
}

.edit-link {
  color: $blue;
}

#back-link-wrapper {
  @include span(18 of 18 no-gutters );
  padding: gutter();
}

.hidden {
  display: none;
}

img {
  &.float-right {
    float: right;
    margin-left: gutter();
  }
}

img {
  &.float-left {
    float: left;
    margin-right: gutter();
  }
}
