//Base Sass styles for CollegeSTAR.org

body {
  background-color: $background-color;
  margin: 0px;
  padding: 0px;
  font-size: $base-font-size;
  font-size: $base-font-size;
  font-family: $default-font-family;
  color: $default-text-color;
}

#site {
  width: $site-width;
  height: inherit;
  margin: 0px auto;
  padding: 0px;
  border: none;
}

#main-content-wrapper {
  margin: 0px 0px 10px 0px;
  padding: 0;
  overflow: hidden;
  background-color: $background-color;
  border: none;
  clear: both;
}

#content {
  min-height: inherit;
  margin: 0px 0px 0px 210px;
  padding: 0;
  background-color: transparent;
  border: none;
}

