.campus-wrapper, .campus-pi {
  @include entity-list-wrapper;
  h2 {
    @include entity-title;
  }
  .campus-image {
    @include entity-image;
  }
  .campus-info {
    @include entity-info;
    .campus-info-title {
      @include entity-info-title;
    }
    .campus-info-value {
      @include entity-info-value;
    }
  }
}
  
  .edit-campus-link {
    @include edit-link;
  }

.campus-pi {
  h2 {
    border: none;
  } 
}

#campus-title-wrapper {
  @include span(18 of 18 no-gutters);
  padding-top: gutter();

  #campus-image {
    @include span(4 of 18 no-gutters);
    padding-left: gutter();
  }

  #campus-title {
    @include span(14 of 18 at 5 no-gutters);
  }
}

#campus-navigation-wrapper {
  @include span(18 of 18 no-gutters);
  padding: gutter();
}
