//Sass for CollegeSTAR.org footer section
#footer {
	width: $site-width - ($default-border-width * 2);
	margin: 0px auto;
	padding: 10px 0px;
	color: darken($default-text-color, 12%);
	text-align: center;
	background-color: $white;
	border: $default-border-width solid $default-border-color;
  @include border-radius(.5em);
	clear: both;
}

#footer_content {
	width: $site-width - ($default-border-width * 2);
	background: none;
	margin: 0px auto;
	padding: 0px;
	font-size: $base-font-size * .75;
	line-height: $base-line-height * (1 + (2/3));
	text-align: center;
	border: none;	
  
  a {
    &:link, &:visited {
	    margin: 5px 5px;
	    padding: 0px;
	    color: lighten($default-text-color, 12%);
	    border: none;
	    font-size: $base-font-size;
	    font-weight: normal;
	    text-decoration: none;
	    display: inline;
    }
    
    &:hover {
	    text-decoration: none;
	    color: darken($default-text-color, 25%);
    }
  }
}
