//Sass for CollegeSTAR.org footer section
#footer {
  @include span(18 of 18);
	margin: 0px auto;
	padding: 10px 2em;
	color: darken($default-text-color, 12%);
	text-align: center;
  @include bordered-panel();
}

#footer_content {
	background: none;
	margin: 0px auto;
	padding: 0px;
	font-size: $base-font-size * .75;
	line-height: $base-line-height * (1 + (2/3));
	text-align: center;
	border: none;	
  
  a {
    &:link, &:visited {
	    margin: 5px 5px;
	    padding: 0px;
	    color: lighten($default-text-color, 12%);
	    border: none;
	    font-size: $base-font-size;
	    font-weight: normal;
	    text-decoration: none;
	    display: inline;
    }
    
    &:hover {
	    text-decoration: none;
	    color: darken($default-text-color, 25%);
    }
  }
}
