.form-text-field input[type=text] {
  width: 100%;
  padding: .75em;
  font-size: $base-font-size;
  font-weight: bold;
  border: $default-border-width solid $default-border-color;
}

.form-text-area textarea {
  width: 100%;
  height: 15em;
  padding: .75em;
  resize: none;
  border: $default-border-width solid $default-border-color;
  font-size: $base-font-size;
  font-weight: bold;
}

.form-label {
  @include span( 18 of 18 no-gutters);
}

.form-check-box-wrapper {
  @include span( 18 of 18 no-gutters);
  margin: gutter() 2*gutter() 0 2*gutter();
  
  .form-check-box {
    float: left;
    display: inline
  }
  .form-label {
    width: auto;
    float: left;
    display: inline;

    label {
      font-weight: normal;
    }
  }
}

.form-radio-button-wrapper {
  @include span( 18 of 18 no-gutters);
  margin: gutter() 2*gutter() 0 2*gutter();

  .form-radio-button {
    float: left;
    display: inline;
  }
  .form-label {
    width: auto;
    float: left;
    display: inline;

    label {
      font-weight: normal;
    }
  }
}

#form-phone-wrapper {
  @include span( 18 of 18 );
  
  input {
    @include span( 6 of 18 no-gutters );
  }
}
