//Sass for College STAR Header Section

#header {
  @include  span(18 of 18 no-gutters);
  @include clearfix;
  background-color: $black;
  color: $nav-link-color;
  border: none;
  
  #header-left {
    position: relative;
    display: none;
    @include breakpoint($full) {
      @include span(4 of 18 no-gutters);
      display: inherit;
      background: $black asset-url('logo_left_2x.png') no-repeat;
      background-size: contain;
      //height: 252px;
    }

    a {
      height: 250px;
      display: block;
    }

    img {
      position: relative;
      z-index: -1000;
      max-width: 100%;
      //height: 250px;
      padding: 0;
      margin: 0;
    }
  }

  #header-right {
    background-color: $white;
    position: relative;
    @include span(18 of 18 wide);
    @include breakpoint($full) {
      @include span(14 of 18 at 5 wide);
      background-color: $black;
      border: none;
    }
    
    #login-box {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      margin: 4px;
      color: $white;
      
      a {
        margin: 2px;
        text-decoration: none;
        font-size: .85em;
        color: $white;
      }
      
    }
  }

  #user-menu-wrapper {
    float: right; 
    
    #user-name {
      cursor: pointer;
      text-align: right;
      padding-right: 1em;
    }

    .user-menu {
      display: none;
      margin: 0;
      padding: 0;

      ul {
        margin: 0;
        padding: 0;
        min-width: 14em;
        list-style-type: none;

        li {
          margin: 0;
          padding: .5em;
          list-style-type: none;
          color: $ghost;
          border-top: $default-border-width solid $steel;
          border-bottom: $default-border-width solid $gainsboro;
          background-color:  $oil;
          
          &:first-child {
            border-top: none;
          }

          &:last-child {
            border-top: ($default-border-width * 6) solid #F57F0A;
            border-bottom: ($default-border-width * 3) solid $oil;
          }

          &:hover {
            background-color: $jet;
          }

          a {
            display: block;
            color: $ghost;
          }
        }
      }
    }
  }


  #title-image {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    background: asset-url('mobile_header_title.png') no-repeat;
    background-size: contain;
    background-color: $black;
    @include breakpoint($full) {
      background: asset-url('header_title.png') no-repeat;
    }
    img {
      position: relative;
      height: auto;
      width: 100%;
      margin: 0;
      padding: 0;
      background-color: transparent;
    }
  }

  .dropdown-toggle {
    
    @include breakpoint($full) {
      display: none;
    }
  }

  #nav-wrapper {
    @include container;
    margin: 0px;
    padding: 0px;
    color: $white;
    border-top: 1px solid #808080;
    background: $black asset-url('top_nav_bg.png') repeat-x 0px 0px;
    
    #mobile-menu-icon-wrapper {
      margin: 0;
      padding: .8*gutter();

      span#menu {
        cursor: pointer;
      }

      @include breakpoint($full) {
        display: none;
      }
    }

    #nav {

      @include breakpoint($full) {
        display: inherit;
	      height: 30px;
        background: $black asset-url('top_nav_bg.png') repeat-x 0px 0px;
	      margin: 0px;
	      padding: 0px;
	      float: left;
	      clear: none;
      }

      ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        //background-color: #333;
        border-top: 2px solid $orange;

        @include breakpoint($full) {
          background-color: transparent;
          border-top: none;
        }

        li {
          display: block;
          margin: 0px;
          padding: 0px;
          border-bottom: 1px solid $white;
          line-height: 28px;
          font-size: 1.2em;
          font-weight: bold;
          color: #DDDDDD;
          list-style-type: none;

          @include breakpoint($full) {
            height: 30px;
            display: inline-block;
            border-right: 1px solid $black;
            border-bottom: none;
          }

          &#instructional-supports, &#student-supports, &#about {
            position: relative;

            ul {
              
              border-top: none;

              @include breakpoint($full) {
              position: absolute;
              left: 0;
              border-top: none;
              background-color: $black;
              width: 12em;
              z-index: 2;
              }

              li {
                width: 100%;
                height: initial;
                margin: 0;
                padding: 0;
                border-right: none;
                border-bottom: none;
                font-size: .7em;
                font-weight: bold;

                a {
                  padding: 0 20px;
                  border-bottom: none;

                  @include breakpoint($full) {
                  padding: 10px;
                  margin: 0;
                  display: block;
                  width: 100%;
                  line-height: 1em;
                  font-size: 1em;
                  height: initial;
                  border-bottom: 1px solid $white;
                  }

                  &:hover {
                    
                    @include breakpoint($full) {
                      background: #333;
                    }
                  }
                }

                &:last-child a {

                  @include breakpoint($full) {
                    border-bottom: none;
                  }
                }
              }
            }
          }

          a, a:visited  {
            color: #EEEEEE;
	          padding: 0px 8px;
	          margin: 0px;
	          text-decoration: none;
	          display: inline-block;
	          line-height: 30px;
	          font-size: 1em;
            height: 1.8em;

            &:hover {
              color: #FFFFFF;
            	margin: 0px;
            	padding: 0px 8px;
              font-style: italic;

              @include breakpoint($full) {
                font-style: normal;
            	  background: #262626 asset-url('top_nav_hover.png') repeat-x 0px 0px;
              }
            }
          }

          &.selected a {
            display: inline-block;
            color: $white;
	          background-color: $black;
	          margin: 0px;
            
            &:hover {
              display: inline-block;
	            background: $black;
	            border: none;
	            margin: 0px;
            }
          }
        }
      }
    }
  }
}


#search_bar_noScript {
	height: 24px;
	width: 290px;
	margin: 1px 6px;
	padding: 0px 0px 0px 5px;
	background-color: $white;
	border: none;
	float: right;
	clear: none;
}

#search_bar {
  display: none;
	height: 1.8em;
	width: 120px;
	margin: 2px 6px;
	padding: 0px 8px;
	background: #333 asset-url('search_bg.png') repeat-x 0px 0px;
	-moz-box-shadow: 1px 1px 5px #000 inset;
	-webkit-box-shadow: 1px 1px 5px #000 inset;
	box-shadow: 1px 1px 5px #000 inset;
	-moz-border-radius:14px; /* Firefox 3.6 and earlier */
	border:1px solid $black;
	border-bottom: 1px solid #666;
	border-right: 1px solid #666;
	border-radius:14px;
	cursor: text;
	float: right;
	clear: none;
  @include breakpoint($full) {
    display: inherit;
  }
}

#search_icon {
	//display: none;
	height: 28px;
	width: 18px;
	margin: 0px 0px 0px -5px;
	padding: 0px;
	float: left;
	background: transparent asset-url('search_icon.png') no-repeat 0px 0px;
	cursor: auto;	

  span {
    display: none;
  }
}

#search_text {
	height: 1.5em;
	line-height: 18px;
	float: left;
	clear: none;
	color: #333;
	font-size: .8em;
	width: 190px;
	margin: 4px;
	padding: 0px;
	border:none;
	background-color: transparent;
}
