//Sass for College STAR Header Section

#header {
  @include  span(18 of 18 no-gutters);
  @include clearfix;
  background-color: $black;
  color: $nav-link-color;
  border: none;
  
  #header-left {
    position: relative;
    display: none;
    @include breakpoint($full) {
      @include span(4 of 18 no-gutters);
      display: inherit;
      background: $black asset-url('logo_left_2x.png') no-repeat;
      background-size: contain;
      height: 252px;
    }

    a {
      height: 250px;
      display: block;
    }

    img {
      position: relative;
      z-index: -1000;
      max-width: 100%;
      height: 250px;
      padding: 0;
      margin: 0;
    }
  }

  #header-right {
    background-color: $white;
    position: relative;
    @include span(18 of 18 no-gutters);
    @include breakpoint($full) {
      @include span(14 of 18 at 5 wide);
      background-color: $black;
      border: none;
    }
    
    #login-box {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      margin: 4px;
      color: $black;
      @include breakpoint($full) {
        color: $white;
      }
      
      a {
        margin: 2px;
        color: $black;
        text-decoration: none;
        font-size: .85em;
        @include breakpoint($full) {
          color: $white;
        }
      }
      
    }
  }

  #user-menu-wrapper {
    float: right; 
    
    #user-name {
      cursor: pointer;
      text-align: right;
      padding-right: 1em;
    }

    .user-menu {
      display: none;
      margin: 0;
      padding: 0;

      ul {
        margin: 0;
        padding: 0;
        min-width: 14em;
        list-style-type: none;

        li {
          margin: 0;
          padding: .5em;
          list-style-type: none;
          color: $ghost;
          border-top: $default-border-width solid $steel;
          border-bottom: $default-border-width solid $gainsboro;
          background-color:  $oil;
          
          &:first-child {
            border-top: none;
          }

          &:last-child {
            border-top: ($default-border-width * 6) solid #F57F0A;
            border-bottom: ($default-border-width * 3) solid $oil;
          }

          &:hover {
            background-color: $jet;
          }

          a {
            display: block;
            color: $ghost;
          }
        }
      }
    }
  }


  #title-image {
    position: relative;
    width: 100%;
    margin: 0;
    background: asset-url('cs-emblem-light.jpg') no-repeat;
    background-size: contain;
    @include breakpoint($full) {
      background: asset-url('header_title.png') no-repeat;
    }
    img {
      position: relative;
      max-height: 100%;
      max-width: 100%;
      margin: 0;
      padding: 0;
    }
  }

  #nav-wrapper {
    height: 30px;
    margin: 0px;
    padding: 0px;
    color: $white;
    border-top: 1px solid #808080;
    background: $black asset-url('top_nav_bg.png') repeat-x 0px 0px;
   
    #nav {
	    height: 30px;
	    margin: 0px;
	    padding: 0px;
	    float: left;
	    clear: none;

      span {
        height: 30px;
        margin: 0px;
        padding: 0px;
        display: inline-block;
        line-height: 28px;
        font-size: 1.2em;
        font-weight: bold;
        color: #DDDDDD;
        border-right: 1px solid $black;

        a, a:visited  {
          color: #EEEEEE;
	        padding: 0px 8px;
	        margin: 0px;
	        text-decoration: none;
	        display: inline-block;
	        line-height: 30px;
	        font-size: 1em;

          &:hover {
            color: #FFFFFF;
          	background: #666666 asset-url('top_nav_hover.png') repeat-x 0px 0px;
          	margin: 0px;
          	padding: 0px 8px;
          }
        }

        &.selected a {
          display: inline-block;
          color: $white;
	        background-color: $black;
	        margin: 0px;
          
          &:hover {
            display: inline-block;
	          background: $black;
	          border: none;
	          margin: 0px;
          }
        }
      }
    }
  }
}


#search_bar_noScript {
	height: 24px;
	width: 290px;
	margin: 1px 6px;
	padding: 0px 0px 0px 5px;
	background-color: $white;
	border: none;
	float: right;
	clear: none;
}

#search_bar {
	height: 24px;
	width: 120px;
	margin: 2px 6px;
	padding: 0px 8px;
	background: #333 asset-url('search_bg.png') repeat-x 0px 0px;
	-moz-box-shadow: 1px 1px 5px #000 inset;
	-webkit-box-shadow: 1px 1px 5px #000 inset;
	box-shadow: 1px 1px 5px #000 inset;
	-moz-border-radius:14px; /* Firefox 3.6 and earlier */
	border:1px solid $black;
	border-bottom: 1px solid #666;
	border-right: 1px solid #666;
	border-radius:14px;
	cursor: text;
	float: right;
	clear: none;
}

#search_icon {
	//display: none;
	height: 28px;
	width: 18px;
	margin: 0px 0px 0px -5px;
	padding: 0px;
	float: left;
	background: transparent asset-url('search_icon.png') no-repeat 0px 0px;
	cursor: auto;	

  span {
    display: none;
  }
}

#search_text {
	height: 18px;
	line-height: 18px;
	float: left;
	clear: none;
	color: #333;
	font-size: .8em;
	width: 190px;
	margin: 4px;
	padding: 0px;
	border:none;
	background-color: transparent;
}
