//Sass Styles for home page here

#home-content-top {
  margin: 0;
  padding: 0 5px;
  background-color: $white;
  border: $default-border-width solid $default-border-color;
  @include border-radius(.5em);
}
