//Sass Styles for home page here

@mixin item_wrapper() {
  a {
    margin: 0;
    padding: 0;
    color: $default-text-color;
    text-decoration: none;
    border: none;

    &:hover {
      text-decoration: none;
      color: ligthen($default-text-color, 20%);
    }
  }

  img {
    margin: 0;
    padding: 0;
  }

  p {
    margin: .25em;
    padding: 0;
    height: 40px;
    font-size: $base-font-size * .8;
    font-weight: bold;
    text-align: center;
    border: none;
  }
}

#home-content-top {
  @include span(18 of 18 wide);
  margin-bottom: gutter(18);
  @include breakpoint($full) {
    @include span(14 of 14);
    margin-bottom: gutter(14);
  }
  @include bordered-panel();
}

#campus-wrapper {
  @include span(18 of 18 no-gutters);
  margin: 0px auto;
  text-align: center;
  border: none;
}

.campus {
  width: 100%;
  border: none;
  display: inline-block;
  vertical-align: top;
  @include item_wrapper();  
  @include breakpoint($full) {
    width: 200px;
    margin: 0px 10px;
    padding: 0;
  }

}

#campus-header-wrapper {
  @include span(18 of 18 no-gutters);
}

#home-partners-wrapper {
  @include span(18 of 18 wide);
  .partner {
    @include span(9 of 18 no-gutters);  
    text-align: center;
    @include item_wrapper();

  }
  @include bordered-panel();
  @include breakpoint($full) {
    @include span(7 of 14 at 8);
    .partner {
      @include span(3.5 of 7 no-gutters);
        }
  }
}

#home-supporters-wrapper {
  @include span(18 of 18 wide);

  @include breakpoint($full) {
    @include span(18 of 18 no-gutters);
  }
  .supporter {
    @include span(9 of 18 no-gutters);   
    text-align: center;
    @include item_wrapper();

  }
  @include bordered-panel();
}
