// Place all the styles related to the NewsArticles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#news-feature {
  @include bordered-panel();
  @include clearfix();
  h1 {
    a {
      color: $black;
    }
  }
  
  img {
    float: left;
    box-shadow: 5px 5px 2px #CCC;
    margin-left: 4 * gutter();
    margin-right: 2 * gutter();
  }
}

.news_article_wrapper {
  @include span(18 of 18 no-gutters);
  margin-bottom: 1em; 
  h2, h2 a {
    border: none;
    color: $cs-orange;
  }

  h2 {
    .edit-news-article-link {
      a {
        color: $blue;
      }
    }
  }

  .thumb_nail {
    @include span(1.65 of 18 at 2);
    margin-left: 1em;
    img {
      width: 4.5em;
      height: 4.5em;
    }
    border: none;
  }
  .excerpt {
    @include span(15.5 of 18 no-gutters);
    border: none;
    padding: 0;
    p {
      margin: 0;
    }
  }
}

ul#news_articles {
  list-style: none;
  margin: 0;
  
  li {
    list-style-type: none;
    margin: 0;
  } 
}

.edit-news-article-link {
  @include edit_link;
}

#new-article-link-wrapper {
  @include span(18 of 18 no-gutters);
  padding: gutter();
}

#side_bar_feature {
  h2 {
    font-size: .75em;
    border: none;
    margin: 0;
    a {
      color: $cs_orange;
    }
  }
  .thumb_nail {
    margin: .5em;
    margin-bottom: .25em;
    border: none;
    float: left;
  } 
  p {
    font-size: .75em;
    text-align: left;
    margin: gutter();
    margin-top: .5em;
    margin-left: .5em;
  }
}
