#password_reset_wrapper {
  width: 95%;
  margin: gutter() auto;

  @include breakpoint($full) {
    width: span(8);
  }

  #submit {
    input[type=submit] {
      width: 100%;
      margin: gutter() 0;
    }
  }
}
