//Sass for CollegeSTAR.org sidebar section

#news_feed {
  ul {
    list-style: none;
    margin: 1em .25em;
    padding: 0;	
	  font-size: .9rem;
	  font-weight: bold;
	  color: $muted-text-color;

    li {
      list-style: none;
      margin: .5em .25em;
      padding: 0 0 0 1em;
      text-indent: -.7em;
      line-height: 1.2em;
      font-size: .8em;

      &:before {
        content: "\002022  ";
        color: $cs-orange;
      }

      a {
        font-weight: bold;
        text-decoration: none;
        color: $muted-text-color;
        
        &:hover {
          color: $default-text-color;
        }
      }
    }
  }
}
