.three-two-one-video {
  @include container();
  margin: gutter();

  .video-screenshot {
    @include span(6 of 18 no-gutters);

    @include breakpoint($full) {
      @include span(2 of 18 no-gutter);
    }
  }
  
  .video-info-wrapper {
    @include span(12 of 18 no-gutters);
    
    @include breakpoint($full) {
      @include span(16 of 18 no-gutter);
    }

    h2 {
      margin-top: 0;
      margin-bottom: 0;
    }
    p {
      text-align: left;
      margin: 1em 2em;
      padding: 0;
    }

    .view-video-link-wrapper {
      p {
        text-align: right;
      }
    }
  }
}

#new-video-button-wrapper {
  margin: 2*gutter() gutter();
  p {
    text-align: center;
    margin: 1em;
    padding: 1em;
  }
}
#create-new-video-button {
  @include create-button();
}

#three-two-one-video-screenshot-edit {
  margin: gutter();
  text-align: center;
}

#three-two-one-video-form-wrapper {
  margin: gutter();
    
  p.form-example {
    margin: 0;
    font-size: .75*$base-font-size;
    color: $dark-gray;
  }

  #submit-button-wrapper {
    margin: 2*gutter();
    text-align: center;
  }
}
