.udl-module-list-wrapper {
  @include span(18 of 18 no-gutters);

  .udl-module-wrapper {
    @include span(16 of 18 no-gutters);
    margin: gutter() span( 1 of 18);

    .title-image-wrapper {
      @include span(5 of 16 no-gutters);
    }

    .title-wrapper {
      @include span(11 of 16 at 6 no-gutters);
    }

    .description-wrapper {
      @include span(11 of 16 at 6 no-gutters);
      
      p {
        margin: gutter() 2*gutter();
        padding: 0;
      }

      h2 {
        margin: 2*gutter();
      }
    }
  }
}

.case-study-wrapper {
  @include span(18 of 18 no-gutters);
  margin: gutter() 2* gutter();

  .case-study-image-wrapper {
    @include span( 3 of 18 no-gutters);

    @include breakpoint($full) {
      @include span( 2 of 18 no-gutters);
    }
  }

  .case-study-info-wrapper {
    @include span( 15 of 18 at 4 no-gutters);

    @include breakpoint($full) {
      @include span( 16 of 18 at 3 no-gutters);
    }
    
    .title-wrapper, .description-wrapper {
      @include span(18 of 18 no-gutters);
    }
  }
}

#admin-tools {
  @include span(18 of 18);
  text-align: right;
  padding-right: gutters();
  margin-top: gutter();

  a {
    color: $muted-text-color;
  }
}

#content img.udl-all { @include udl-trio(0); }
#content img.udl-rep { @include udl-trio(-50px); }
#content img.udl-rep-exp { @include udl-trio(-100px); }
#content img.udl-rep-eng { @include udl-trio(-150px); }
#content img.udl-eng { @include udl-trio(-200px); }
#content img.udl-eng-exp { @include udl-trio(-250px); }
#content img.udl-exp { @include udl-trio(-300px); }
#content img.udl-none { @include udl-trio(-350px); }

.edit-module-link {
  @include edit-link;
}


#module-title {
  @include span(17.6 of 18);
  margin: gutter();
  padding-left: gutter();
  padding-right: gutter();
  border-bottom: $default-border-width solid $default-border-color;
  
  #module-icon-wrapper {
    @include span(1.5 of 18 no-gutters);
    padding: 0;
  }

  #module-title-wrapper {
    @include span(16 of 18 at 1.6 no-gutters);
    min-height: 50px;

    h1 {
      margin: -.2em 0 0 0;
      padding: 0;
      font-family: $default-font-family;
      font-weight: 700;
      color: $default-text-color;
      font-size: $base-font-size * 1.75;
      border: none;
    }

    h2 {
      margin: -.2em 0 0 0;
      padding: 0 0 0 .5em;
      font-family: $default-font-family;
      font-weight: 300;
      color: $default-text-color;
      font-size: $base-font-size * 1.1;
      border: none;
    }
  }
}

#module-introduction-video-wrapper {
  @include span(18 of 18 no-gutters);
  text-align: center;
  margin-bottom: gutter(3em);
  
  img {
    box-shadow: none;
  }
}

#module-introduction-wrapper {
  @include span(18 of 18);
  margin-top: gutter();
  margin-bottom: gutter();
  @include clearfix();
}

#toc {
  @include span(6 of 18);
  margin-left: gutter();
  margin-right: 0;
  background-color: #F2F2F2;
  border: 1px solid #E6E6E6;
  border-bottom: 5px solid #E6E6E6;
  radius: $default-radius;
  @include clearfix();

  h1 {
    margin: .3rem;
    padding: 0;
    font-family: $default-font-family;
    font-weight: bold;
    color: #666666;
    font-size: $base-font-size * 1.3;
    text-align: center;
  }

  ol {
    margin: .5rem .75rem;
    padding: 0px;
    font-family: $default-font-family;
    font-weight: bold;
    color: $default-text-color;
    counter-reset: section;
    list-style-type: none;

    ol {
      margin: .4rem 0 .4rem 2.25rem;
      text-indent: -1.5rem;
    }
  }

  li {
    a {
      padding-left: .25rem;
      font-family: $default-font-family;
      font-weight: bold;
      color: $default-text-color;
      text-decoration: none;
      font-size: $base-font-size * 1.2;

      &:hover {
        color: #000;
      }
    }

    li {
      a {
        font-weight: normal;
        font-size: $base-font-size;
      }
    }

    &:before {
      counter-increment: section;
      content: counters(section, ".") " ";
    }
  }
}

#introduction {
  @include span( 12 of 18 at 7 no-gutters);
  @include clearfix();
  margin-bottom: gutter();
}

#objectives, #udl-principles, #instructional-practice, #learn-more, #references-resources, #about-the-author {
  @include module-section();
  @include clearfix();
}

.module-page {
  h2 {
    font-weight: bold;  
    font-size: $base-font-size * 1.4;
    border-bottom: $default-border-width solid $default-border-color;
    @include module-header();
  }
}

.module-section-title-wrapper {
  h3 {
    margin: 1em 2.1em;
    font-style: normal;
    font-weight: bold;
    font-size: $base-font-size * 1.2;

    .edit-module-section-link {
      font-style: normal;
      font-size: $base-font-size * .5;
      font-weight: bold;
    }
  }

  .module-section-audio-wrapper {
    margin: -1.5em 0em 1em 3em;
    a {
      font-style: normal;
      font-weight: normal;
      font-size: $base-font-size *.75;
    }

    .module-section-audio-player-wrapper {
      margin-top: 2em;    
    }
  }
}


.module-section-content-wrapper {
  margin: gutter();

  h4 {
    margin: 1em 2.4em;
    font-style: normal;
    font-weight: bold;
    font-size: $base-font-size * 1.1;
  }

  h5 {
    margin: 1em 2.5em;
    font-style: normal;
    font-weight: bold;
    font-size: $base-font-size;
  }
}

ol {
  margin: 1em 6em;
  list-style-type: decimal; 
}


.table-wrapper {
  @include span(18 at 18 no-gutters);
  margin-top: 1em;
  margin-bottom: 2em;

  table {
    width: 85%;
    border: $default-border-width solid #333;
    border-collapse: collapse;
    margin: 1em auto;
    caption {
      font-size: $base-font-size * .85;
    }
    thead {

      tr {

        th {
          border: $default-border-width solid #333;
          border-bottom: $default-border-width * 2 solid #333;
          padding: .5em 1em;
          background-color: #30518D;
          color: #F7F7F7;
        }
      }
    }
    tbody {
      tr {
        
        &:nth-child(even) {
          background-color: #DDD;
        }
        th {
          border: $default-border-width solid #333;
          border-right: $default-border-width * 2 solid #333;
          padding: .5em 1em;
          background-color: transparent;
        }
      }

      td {
        padding: 1em;
        border: $default-border-width solid #333;
        vertical-align: text-top;

        p {
          text-align: left;
        }
      }
    }
  }

  .caption {
    @include caption;
  }
}

.figure-wrapper {
    @include span(18 of 18 no-gutters);
    margin-top: 2em;
    margin-bottom: 2em;
  .figure {
    text-align: center;
  }
  .caption {
    @include caption;
  }
  @include clearfix;
}

blockquote {
  margin: 2em 8 * gutter() 0 8 * gutter();
  background: image-url('quote.png') no-repeat 0 0;

  p {
    padding-top: 1em;
    font-size: 1.3 * $base-font-size;
    line-height: 1.5 * $base-font-size;
    font-family: $quote-font-family;
    font-style: italic;
    text-align: justify;
  }
}

.emphasis-window {
  margin: 3.75em 2.25em;
  padding: .72em 0;
  background-color: #EFEFEF;
  border: $default-border-width solid #333;
  border-radius: $default-radius * 2;
  box-shadow: .72em .72em .36em #999;

  h1 {
    font-size: 1.1 * $base-font-size;

    .center {
      text-align: center;
    }
  }
}

#module-footer-info {
  @include span(18 of 18);
  @include clearfix();
}

#references, #resources, .references {
  p {
    margin: gutter() 4*gutter() gutter() 8*gutter();
    text-indent: -4*gutter();
    text-align: left;
  }
}

#udl-module-edit-fields-wrapper {
    padding: gutter();	
}

#udl-module-edit-form-submit-wrapper {
    @include form-submit-wrapper;
}

.module-back-to-top-wrapper {
  float: right;
  padding-right: gutter();
}

#feedback-modal {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  background-color: #EEE;
  border: 1px solid #AAA;
  border-radius: 4px;
  box-shadow: .72em .72em .36em #999;

  #close-wrapper {
    display: block;
    @include container();
    margin: 0 gutter();

    #feedback-modal-close-button {
      font-size: .75 * $base-font-size;
      float: right;

      &:hover {
        cursor: pointer;
      }
    }
  }

  #feedback-thumbs-wrapper {
    margin: 2*gutter(); 
    font-size: 2.5 * $base-font-size;
    text-align: center;
  }
}
