// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user-edit-fields-wrapper {
    @include form-fields-wrapper;
}

h3.check-box-list-heading {
  margin-left: 0;

  span.explanation-text {
    font-weight: normal;
    font-size: $base-font-size * .75;
    color: $aluminum;
    font-style: italic;
  }
}

#user-categories-check-boxes-wrapper {
  margin: gutter() gutter() 4*gutter() 4*gutter();  
  padding-right: 0;

  label {
    display: inline;
  }

  #other-category-text-wrapper {
    width: 250px;
  }
}

#change-password-wrapper {
  @include form-fields-wrapper;
}

#user-submit-form-wrapper {
    @include form-submit-wrapper;
}

#users-table-wrapper {
  @include span(18 of 18 no-gutters);
  padding: gutter();
}

table#users {
  @include admin-table;
}

#user-roles-wrapper {
  ul {
    list-style-type: none;
    margin: gutter() 2 * gutter();

    li {
      list-style-type: none;
      margin: gutter() 0;

      label {
        display: inline;
        font-weight: normal;
      }
    }
  }
}
