//Colors
$orange: #F68D11;

//font related
$default-font-family: 'Helvetica Neue', "Helvetica", Helvetica, Arial,  sans-serif;
$base-font-size: 1em;
$base-line-height: 1.2em;
$default-text-color: #333;

//Structural
$background-color: #EEEEEE;
