//Colors
$cs-orange   : #F68D11;

//Font Related
$default-font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial,  sans-serif;
$quote-font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
$base-font-size: 1em;
$base-line-height: 1.2em;

//Font Colors
$white: #FFFFFF;
$ghost: #FAFAFA;
$fog: #EEEEEE;
$gainsboro: #DDDDDD;
$aluminum: #999999;
$steel: #666666;
$oil: #333333;
$jet: #222222;
$black: #000000;
$default-text-color: #333;
$muted-text-color: #666;
$nav-link-color: #DDD;
$link-blue: #118AB8;

//progress Bars
$progress-green: #0DC467;

//Buttons
$create-btn-bg-color: #25D15D;
$create-btn-bg-color-hover: #23C457;
$nav-btn-bg-color: #2988D1;
$nav-btn-bg-color-hover: #216FAB;
$delete-btn-bg-color: #D13130;
$delete-btn-bg-color-hover: #C42E2D;

//Structural
$background-color: #EEE;
$default-border-color: #CCC;
$site-width: 960px;
$default-border-width: 1px;
$default-radius: 4px;

//Tables
$default-table-heading-bg-color: #333;
$default-table-heading-text-color: #FEFEFE;
$even-td-bg-color: #FFF;
$odd-td-bg-color: #EEE;
$tr-hover-bg-color: #118AB8;

//Media Queries
$full: min-width 960px;
$medium: min-width 500px;
