//Font Related
$default-font-family: 'Helvetica Neue', "Helvetica", Helvetica, Arial,  sans-serif;
$base-font-size: 1em;
$base-line-height: 1.2em;

//Font Colors
$default-text-color: #333;
$nav-link-color: #DDD;

//Structural
$background-color: #EEEEEE;
