#virtual-conference-registration-call-to-action-wrapper {
  margin: gutter();
  text-align: center;
}

#virtual-conference-registration-form-wrapper {
  margin: gutter() 2*gutter();

  h3 {
    margin-left: 0;
    margin-top: 4 * gutter();
    margin-bottom: gutter();
  }
  
  #virtual-conference-registration-submit-wrapper {
    @include span( 18 of 18 no-gutters);
    margin: gutter();
    text-align: center;
  }

  #virtual-conference-registration-submit-wrapper {
    @include span( 18 of 18 no-gutters);
    margin: gutter();
    text-align: center;
  }

}
