<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1><%= @campus.name %></h1>
      
      <%= render 'form' %>
      
      <%= link_to 'Show', @campus %>
      <% if can? :index, @campus %>
        |  
        <%= link_to 'Back', campuses_path %>
      <% end %>
    </div>
  </div>
</div>
