<div id="content-wrapper">
  <div id ="single-column-wrapper">
    <div id="content">
      <h1>Add a question to the FAQ section</h1>

      <%= render 'frequently_asked_questions/forms/new' %>
    </div>
  </div>
</div>
