<div id="form-department-wrapper">
  <div class="department-input">
    <%= f.label :department, "Department:" %>
  </div>
  <div class="form-text-field">
    <%= f.text_field :department %>
  </div>
</div>
