<div id="form-university-wrapper">
  <div class="form-text-field">
    <%= f.label :university, "University:" %>
  </div>
  <div class="form-text-field">
    <%= f.text_field :university %>
  </div>
</div>
