<% content_for :title, "2017 Student Support Summit" %>

<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1>2017 Student Support Summit</h1>
      <p>The 2017 College STAR Student Support Summit will take place <strong>Wednesday October 25, 2017 - Friday October 27, 2017</strong> in Chapel Hill, North Carolina. Below you will find information related to the summit.</p>

      <h2>Summit Schedule</h2>
      <p><a href="https://www.collegestar.org/2017-student-support-summit-schedule.pdf" target="_blank">2017 Student Support Summit Schedule</a></p>

      <h2>Student Support Programs</h2>
      <p>
      Please take a moment to view all the Student Support Program profiles that have been submitted for the summit. Our goal is to take this initial set of profiles, improve them, and then promote them as a public resource.
      </p>
      <p><%= link_to "Student Support Program Profiles", student_support_programs_path %></p>
       
      <h2>Pre-Summit Questionnaire</h2>
      <p>We have developed a short, four question questionnaire in an attempt to gain more insight into what you hope to get our of the summit. Please take the time to provide us with your thoughts. This can be completed anonymously.</p>
      <p><%= link_to "2017 Student Support Summit Questionnaire", new_student_support_summit_questionnaire_path %></p>
      <h2>Media Consent</h2>
      <p>Please take a moment to complete a media consent agreement for our conference. If you wish not to consent, please still take the time to fill out the form so we know your wishes.(Simply don't check the "I Consent" box) There is a place to upload a picture of yourself, we've learned from past experience that it is important to be able to put a face to a name with these consent agreements. Please know that this picture and your consent agreement will not be shared publicly. If you are not comfortable with giving this information online, we will have paper copies available at the conference.</p>
      <p>
        <%= link_to "2017 Student Support Summit Media Consent form", new_student_support_summit_media_consent_path %>
      </p>   

      <h2>Local Restuarants</h2>
      
      <h3>One Fish, Two Fish (Asian Fusian, Hawaiian, Poke)</h3>
      <p>370 E Main St.<br/>
      Carrboro, NC</p>
      <p>phone: 27510919.240.5532</p>
      <h3>The Purple Bowl (Acai Bowls, Coffee & Tea, Breakfast & Brunch)</h3>
      <p>306 W Franklin St.<br/>
      Chapel Hill, NC</p>
      <p>phone: 27516919.903.8511</p>

      <h3>bartaco Chapel Hill (Tacos)</h3>
      <p>201 S Estes Dr.<br/>
      Chapel Hill, NC</p>
      <p>phone: 27514910.807.8226</p>

      <h3>Coco Bean Coffee Shop (Coffee & Tea, Vegan, Gluten-Free)</h3>
      <p>1114 Environ Way<br/>
      Chapel Hill, NC</p>
      <p>phone: 27517919.883.9003</p>

      <h3>The Shoppe Bar & Meatball (Bars, American (New), Tuscan)</h3>
      <p>370 E Main St.<br/>
      Carrboro, NC</p>
      <p>phone: 27510919.240.5851</p>

      <h3>Tandem Carrboro (American (New), Cocktail Bars, Beer Bar)</h3>
      <p>200 N Greensboro St.<br/>
      Carrboro, NC 27510</p>
      <p>phone: 919.240.7937</p>

      <h3>Tarantini (Italian)</h3>
      <p>50160 Governors Dr.<br/>
      Chapel Hill, NC 27517</p>
      <p>phone: 919.942.4240</p>

      <h3>Namu (Korean, Coffee & Tea)</h3>
      <p>5420 Durham-Chapel Hill Blvd.<br/>
      Durham, NC 27707</p>
      <p>phone: 919.251.9794</p>

      <h3>Elements (Asian Fusion, American (New), Desserts)</h3>
      <p>2110 Environ Way<br/>
      Chapel Hill, NC 27517</p>
      <p>phone: 919.537.8780</p>

      <h3>Rasa Malaysia (Malaysian, Seafood, Noodles)</h3>
      <p>410 Market St.<br/> 
      Chapel Hill, NC 27516</p>
      <p>phone: 984.234.0256</p>
      
      <div id="summit-hotel-wrapper">
        <h2>Hotel Information</h2>
        <h3>Hampton Inn & Suites Chapel Hill/Carrboro</h3>
        <div id="summit-hotel-map-wrapper">
         <iframe width="400" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJtdE4jR7DrIkRz3UfLvDE0z4&key=AIzaSyAYQBPOcdAytw5Hm0iwdG3QrsPia3lID5s" allowfullscreen></iframe>
        </div>
        <div id="summit-hotel-info-wrapper">
          <p>370 East Main St Unit 10<br/>
          Carrboro, NC 27510</p>
          <p>Phone: 919-969-6988</p>
        </div>
      </div>
      
      <div id="summit-venue-wrapper">
        <h2>Summit Venue</h2>
        <h3>North Carolina Botanical Garden</h3>
        <p>Our summit will take plcae at the <a href="http://http://ncbg.unc.edu/" target="_blank">North Carolina Botanical Garden</a>. We will provide a shuddle from the Hampton Inn &amp; Suites to the Garden for Thursday, October 26 and Friday, October 27.</p>
       <div id="summit-venue-map-wrapper">
       <iframe width="400" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJX3JX2Y_CrIkRE9nCOcAXD4Y&key=AIzaSyAYQBPOcdAytw5Hm0iwdG3QrsPia3lID5s" allowfullscreen></iframe>
      </div>
      <div id="summit-venue-info-wrapper">
        <p><strong>North Carolina Botanical Garden</strong><br/>
        100 Old Mason Farm Road<br/>
        Chapel Hill, NC 27517</p>
      </div>
      <p>&nbsp;</p>
    </div>


    </div>
  </div>
</div>
