<%= form_for(@user, url: :password_resets) do |f| %>
  <div id="email">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div id="submit">
    <%= f.submit "Request password reset instructions"%>
  </div>
<% end %>
