<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1><%= @udl_module.title %></h1>
      
      <%= render 'edit_module_form' %>
      
      <%= link_to 'Show', @udl_module %> |
      <%= link_to 'Back', udl_modules_path %>
    </div>
  </div>
</div>
