<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1><%= @udl_module.title %></h1>
       <%= link_to( 
            fa_icon( 'arrow-left', text: 'Back to module' ),
            @udl_module
          ) %>
     
      <%= render 'edit_module_form' %>
      

    </div>
  </div>
</div>
