<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <p id="notice"><%= notice %></p>
      
      <h1>Facutly Development Modules</h1>
      <ul> 
          <% @udl_modules.each do |udl_module| %>
              <li><%= link_to( udl_module.title, udl_module ) %>
              <% if can? :edit, udl_module %>
                <span class="edit-module-link"> 
                  <%= link_to(
                    fa_icon( "pencil", text: "Edit this module" ), 
                    edit_udl_module_path( udl_module ) 
                  ) %>
                </span>
              <% end %>
          <% end %>
      </ul>
      <br>
      <% if can? :create, @udl_module %> 
        <%= link_to 'New Udl module', new_udl_module_path %>
      <% end %>
    </div>
  </div>
</div>
