<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1>New UDL Module</h1>
      
      <%= render 'new_module_form' %>
      
      <%= link_to 'Back', profile_udl_modules_path( profile_id: current_user.id ) %>
    </div>
  </div>
</div>
