<div id="form-faq-question-wrapper">
  <div class="form-label">
    <%= f.label :question %>
  </div>
  <div class="form-field">
    <%= f.text_field :question %>
  </div>
</div>
<div id="form-faq-answer-wrapper">
  <div class="form-label">
    <%= f.label :answer %>
  </div>
  <div class="form-field">
    <%= f.text_area :answer %>
  </div>
</div>
