<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1>2020 College STAR Virtual Conference Proposal Confirmation</h1>
      <p><%= @proposal.name %>,</p>
      <p>Thanks for submitting your proposal.</p>

      <p>Sincerely,<br />
         The College STAR Team</p>
    </div>
  </div>
</div>
