<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1><%= @dss_contact.campus_name %></h1>

      <%= render 'dss_contacts/forms/edit' %>

    </div>
  </div>
</div>
