<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1>Create a new DSS Office listing</h1>

      <%= render 'dss_contacts/forms/new' %>
    </div>
  </div>
</div>
