<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1>Thanks for your proposal!</h1>
      <p><%= @proposal.first_name %>,</p>
      <p>Thank you for submitting your 3-2-1 video. We have received your proposal and will review it as soon as possible. If selected, we will contact you with further instruction about how to submit your video. Thank you so much for taking the time to share your ideas about how we can infuse the principles of UDL into our college classrooms!</p>
      <p>Sincerely,<br />
      The College STAR Team
      </p>
    </div>
  </div>
</div>
