<div id="star-learning-communities-registration-form-slc-wrapper">
  <div class="form-label">
    <%= f.label :slc, "Current Learning Communities" %>
  </div>
  <div class="form-select-box">
    <%= f.select( :slc,
          [ 
            'Sonocent',
            'Read & Write',
            'Course Organizer Routine',
            'Assignment Choices',
            'Assignment Balance',
            'Learning Differences',
            'Transparent Instruction',
            'Annotated Readings',
            'Other'
          ],
          { prompt: true }
        )
     %>
  </div>
</div>
