<div id="star-learning-communities-registration-form-instructional-practice">
  <div class="form-label">
    <%= f.label :instructional_practice, 'Describe the instructional practice you hope to explore through a learning community' %>
  </div>
  <div class="form-text-area">
    <%= f.text_area :instructional_practice %>
  </div>
</div>
