<div id="star-learning-communities-registration-form-instructional-practice-justification">
  <div class="form-label">
    <%= f.label :instructional_practice_justification, 'Breifly describe why you feel this instructional approach will make a positive difference for your students with learning differences.' %>
  </div>
  <div class="form-text-area">
    <%= f.text_area :instructional_practice_justification %>
  </div>
</div>
