<% content_for :title, "STAR Learning Communities" %>
<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1><%= @page.title.html_safe %></h1>
      <%= @page.text.html_safe %>      
      <div class="button-wrapper">
        <p class="center">
         <%= link_to( "I'm Interested", new_star_learning_communities_registration_path, class: 'create-button' )  %>
        </p>
      </div>
    </div>
  </div>
</div>
