<% content_for :title, "STAR Learning Communities" %>
<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1>Star Learning Communities</h1>
      <p>
      College STAR progressively seeks to help college classrooms become more welcoming places for students with diverse learning profiles which is why we are currently recruiting multi-campus STAR Learning Communities (SLC’s). Our goal in creating STAR Learning Communities, is to partner faculty and staff members across different college settings and facilitate shared learning and research around instructional practices that align with the principles of UDL. 
      </p>
      <p>
      All learning community members are expected to participate in the following activities:
      </p>
      <ul>
        <li>Regular Meetings/ Working Sessions</li>
        <li>Development of Common Research Questions &amp; Goals</li>
        <li>Participation in Project-Wide Research Questions </li>
        <li>Formalized Shared Learning ( Webinars, Conference Presentations, Presentations at Respective Campuses)</li>
        <li>Manuscript Submissions for Publication (Group or Individual) </li>
      </ul> 
      <p>
      Additional expectations can be determined by the group. STAR Learning Communities will also receive support from College STAR in the following areas:
      </p>
      <ul>
        <li>Group Leadership: Provided by a College STAR core team member or faculty leader</li>
        <li>Graduate Assistant Support: Up to 10 hours/week of support from a master’s-level graduate student</li>
        <li>Structure, Publicity, and Resources (as applicable)</li>
        <li>STAR Communication Specialist: To help draft news stories about outcomes and activities that community  members wish to share </li>
      </ul> 
      <p>
      Every STAR Learning Community will benefit from a planning semester followed by an implementation semester, which is a structure that has proven successful with current and former communities.
      </p>
      
      <div class="button-wrapper">
        <p class="center">
         <%= link_to( "Register Now", new_star_learning_communities_registration_path, class: 'create-button' )  %>
        </p>
      </div>
    </div>
  </div>
</div>
